<div class="form-input">
  <form class="search-form" [formGroup]="search.form">
    <div class="inputs-block">
      <div class="location">
        <div
          class="input-wrapper input-block"
          [style.borderColor]="!search.originCityIsValid && submitButtonClicked ? 'red': '#00919a'"
        >
          <input id="originCityName"
                 class="location-input"
                 type="text"
                 placeholder="Enter location"
                 formControlName="originCityName"
                 (input)="handleInputEvent($event,'originCityName', 'originPlaceId')"
                 (blur)="handleOnBlur('originCityName')"
                 [matAutocomplete]="originCityName"
                 required>

          <button
            class="btn btn-arrow"
            (click)="onClickReverse($event)"
          ></button>

          <mat-autocomplete #originCityName="matAutocomplete">
            <mat-option *ngFor="let city of search.locations"
                        [value]="city?.placeName"
                        (onSelectionChange)="onSelectOption('originCityName', city)">
              {{city?.placeName }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <div class="destination input-block">
        <div
          class="input-wrapper"
          [style.borderColor]="!search.destinationCityIsValid && submitButtonClicked ? 'red': '#00919a'"
        >
          <input id="destinationCityName"
                 type="text"
                 placeholder="Enter destination"
                 formControlName="destinationCityName"
                 (input)="handleInputEvent($event,'destinationCityName', 'destinationPlaceId')"
                 (blur)="handleOnBlur('destinationCityName')"
                 [matAutocomplete]="destinationCityName">
          <button
            class="btn btn-delete"
            (click)="onClickDelete($event)"
          >
          </button>

          <mat-autocomplete #destinationCityName="matAutocomplete">
            <mat-option *ngFor="let city of search.locations"
                        [value]="city?.placeName"
                        (onSelectionChange)="onSelectOption('destinationCityName', city)">
              {{city?.placeName}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <div class="arrival input-block">
        <div
          (click)="picker.open()"
          class="input-wrapper"
          [style.borderColor]="!search.dateIsValid && submitButtonClicked ? 'red': '#00919a'"
        >
            <input
              class="arrival__input"
              id="arrival__input"
              [min]="minReturnDate"
              [placeholder]="dateValue"
              [satDatepicker]="picker"
              (dateChange)="onDateChange($event)"
              required
              disabled
            >
          <sat-datepicker #picker [rangeMode]="true" disabled="false" class="datepickerWrapper"></sat-datepicker>
        </div>
      </div>
    </div>

    <div class="container-search">
      <div class="btn-search" (click)="onSubmitForm()">
        <img src="./assets/images/search.png" alt="search">
      </div>
    </div>

  </form>


  <div class="search-chips" *ngIf="showChips">
    <div
      class="chip"
      *ngFor="let chip of objectValues(chipsService.chips); index as i"
      [ngClass]="{ 'selected-chip' : chip.selected }"
      (click)="onChipClick(chip)"
    >{{chip.title}}</div>
  </div>

</div>
