
.form-input {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  width: 100%;
}

.search-form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  position: relative;
}

.inputs-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: #3a3a3a;
}

.search-form input {
  width: 99%;
  height: 60px;
  outline: none;
  border: none;
  font-size: 14px;
  padding:0 10%;
  color: #3a3a3a;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  background-color: #fff !important;
}

input:disabled {
  background-color: white !important;
  opacity: 1;
  -webkit-appearance: none;
}

.title-input {
  margin: 0 0 5px -10px;
}

.location, .arrival, .destination {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: calc(100% / 3);
}


.search-form #arrival__input{
  padding:0 10%;
}

.btn {
  position: absolute;
  padding: 0;
}

.btn-delete {
  top: 0;
  right: 0;
  width: 1.4rem;
  height: 1.4rem;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-delete::after, .btn-delete::before {
  content: '';
  width: 2px;
  height: 0.8rem;
  background: white;
  position: absolute;
}

.btn-delete::after {
  transform: rotate(45deg);
}

.btn-delete::before {
  transform: rotate(-45deg);
}

.btn-arrow {
  top: 50%;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  background: url('../../../../assets/images/Arrow.png') center;
  background-size: cover;
  transform: translateY(-50%);
  z-index: 2;
}

.btn-search img {
  height: 60%;
}

.btn-search {
  border: 1px solid #00919a;
  outline: none;
  width: 80px;
  height: 60px;
  background: #00919a;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-left: 2px;
  margin-left: -3px;
}

.container-search {
  display: flex;
  align-items: flex-end;
}

.destination-wrapper {
  position: absolute;
  bottom: -20px;
  cursor: pointer;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  box-shadow: 0 0 16px 5px rgba(255, 255, 255, 0.13);
  border: 1px solid rgb(84, 68, 161);
  position: relative;
}

.location .input-wrapper, .location-input {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.datepickerWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.search-chips {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  flex-wrap: wrap;
}

.chip {
  padding: 7px 12px;
  background: white;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.chip:hover {
  background: var(--primary-color);
  color: white;
}

.selected-chip {
  background: var(--primary-color);
  color: white;
}

/*--------  Media queries -------- */


@media only screen and (max-width: 1023px) {
  .btn-search {
    height: 34px;
  }

  .search-form {
    flex-direction: column;
  }

  .inputs-block {
    width: 100%;
  }

  .search-form input {
    height: 50px;
  }

  .arrival, .destination, .location {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .btn-arrow {
    display: none;
    /*top: 47px;*/
    /*right: calc( 50% - 1rem);*/
    /*transform: rotate(90deg);*/
  }

  .location .input-wrapper, .location-input {
    border-radius: initial;
  }

}


@media only screen and (max-width: 768px) {

  .btn-search {
    height: 34px;
  }

  .search-form {
    width: 100%;
  }

  .inputs-block {
    width: 100%;
  }

  .search-form input {
    height: 45px;
  }

  .chip {
    margin-right: 6px;
  }
}

