
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: #818078;
}

.container input.invalid{
  border-bottom:1px solid red !important;
 }

.container * {
  box-sizing: border-box;
}

.wrap-outer {
  max-width: 500px;
  margin: 0 auto;
}

.wrap-outer .wrap-inner {
  display: flex;
  flex-direction: column;
}

.wrap-outer > .wrap-inner {
  margin-bottom: 10px;
}

.wrap-inner {
  position: relative;
}

.required::after{
  content: '*';
  color: #00919a;
  position: absolute;
}

.wrap-inner label,
.wrap-inner p {
  padding: 2px;
  font-weight: 300;
}

.wrap-outer > .wrap-inner > label,
.wrap-outer .wrap-inner p {
  max-width: 220px;
  color: #545454;
}

.wrap-inner p {
  margin: 0;
}

.wrap-inner.forgot-password {
  justify-content: center;
}

.wrap-inner.forgot-password a {
  font-size: 13px;
  color: #4a4a4a;
  font-weight: bold;
}

.wrap-inner.forgot-password .forgot-password-info {
  font-size: 13px;
  text-align: center;
}

.wrap-inner input {
  width: 80%;
  padding: 15px;
  padding-left: 5px;
  height: 30px;
  border: none;
  outline: none;
}

.input-container {
  display: flex;
  border: 1px solid #00919a;
  border-radius: 5px;
}

.email-icon {
  background: url(../../../../../../assets/images/email_icon.png) no-repeat center;
  width: 32px;
  height: 32px;
  background-size: 50%;
  margin-left: 6px;
}

.password-icon {
  background: url(../../../../../../assets/images/key.png) no-repeat center;
  width: 32px;
  height: 32px;
  background-size: 45%;
  margin-left: 6px;
}

.wrap-inner button {
  padding: 8px 16px;
  background: #00919a;
  color: #f2f2f2;
  border: 1px solid #00919a;
  border-radius: 5px;
  max-width: 318px;
  font-size: 16px;
  cursor: pointer;
  margin:  20px 0;
}

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 43px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  color: #787878;
  outline: none;
}

.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 12px;
  height: 17px;
  width: 17px;
  border-radius: 5px;
  border: 1px solid #989898;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-wrap .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 6px;
  border: solid #4a4a4a;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text:before {
  content: '';
  background: #4a4a4a;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #4a4a4a;
  background-color: #fcfcfa;
}

.inline-social.social {
  justify-content: center;
  color: #4a4a4a;
  flex-direction: column;
}

.wrap-outer .inline-social.social p:first-child {
  font-weight: 600;
  margin-top: 10px;
  text-align: center
}

.img-pad {
  margin-right: 16px;
}

.inline-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.error{
  max-width: 300px;
  font-size: 0.7rem;
  margin: 1rem 0;
}
