<div class="container">
  <form [formGroup]="form">
    <div class="wrap-outer">
      <div class="wrap-inner">
        <label class="required" for="email">Email</label>
        <div
          class="input-container"
          [style.borderColor]="!form.controls.email.valid && submitClicked ? 'red' : '#00919a' "
        >
          <div class="email-icon"></div>
          <input type="email" id="email" placeholder="Enter your email here" formControlName="email"
            (blur)="setRegData()" >
        </div>
      </div>
      <div class="error" *ngIf="!form.controls.email.valid && submitClicked">
        Incorrect email.
      </div>
      <div class="wrap-inner ">
        <label class="required" for="password">Password</label>
        <div
          class="input-container"
          [style.borderColor]="!form.controls.password.valid && submitClicked ? 'red' : '#00919a' "
        >
          <div class="password-icon"></div>
          <input type="password" id="password" placeholder="Enter your password here" formControlName="password"
            (blur)="setRegData()" >
        </div>
      </div>
      <div class="error" *ngIf="!form.controls.password.valid && submitClicked">
        Valid password must contain at least 1 lower case and 1 upper case letter and digits 0-9 without whitespaces.
        Password length must be from 8 to 20 symbols.
      </div>
      <div>
        <label class="checkbox-wrap required">I agree with Terms & Conditions
          <input type="checkbox" checked="checked" formControlName="agreement" (change)="setRegData()" >
          <span
            class="checkmark"
            [style.borderColor]="!form.controls.agreement.valid && submitClicked ? 'red' : '#00919a' "
          ></span>
        </label>
        <div class="error" *ngIf="!form.controls.agreement.valid && submitClicked">
          Please check it.
        </div>
        <label class="checkbox-wrap">I'd like to receive
          <input type="checkbox" checked="checked" formControlName="receiveMsg" (change)="setRegData()">
          <span class="checkmark"></span>
        </label>

      </div>
      <div class="wrap-inner">
        <button type="submit" (click)="goToInformation(); setRegData()">Next</button>
      </div>
      <hr class="hr-text" data-content="or">
      <div class="inline-social social">
        <p>Sign up with social networks</p>

        <app-social-buttons></app-social-buttons>

      </div>
    </div>
  </form>
</div>
