<mat-dialog-content>
  <div class="container-logo">
    <button class="close-btn" (click)="closeModal()"></button>
    <div class="logo">
      <img [width]="124" src="../../../../../assets/images/logo.png" >
      <p class="">Sign up to see more</p>
    </div>
  </div>
  <div class="registration-wrapper">
    <div [ngSwitch]="currentPage">
      <app-email
        *ngSwitchCase="tabs[0]"
        (nextClicked)="setPage($event)"
      >
      </app-email>
      <app-information
        *ngSwitchCase="tabs[1]"
        (nextClicked)="setPage($event)"
      >
      </app-information>
      <app-avatar
        *ngSwitchCase="tabs[2]"
      >
      </app-avatar>
    </div>
    <div class="container">
      <ul class="nav-tabs">
        <li
          *ngFor="let tab of tabs"
          (click)="setPageTab(tab)"
          [style.color]="currentPage === tab ? activeColor : 'gray'"
        >{{ tab }}</li>
        <span class="tab-border" [@moveBorder]="currentPage"></span>
      </ul>

    </div>
  </div>
</mat-dialog-content>
