.nav-tabs {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  position: relative
}

.nav-tabs li {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
  text-transform: capitalize;
}

.tab-border {
  display: inline-block;
  width: 33%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--primary-color);
}

.registration-wrapper {
  padding: 3px 0;
}

.container-logo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: #818078;
  box-sizing: border-box;
}

.logo p {
  color: #4a4a4a;
  font-weight: 600;
  margin-top: 0;
  font-size: 16px;
}

.container-logo .close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15%;
  right: -6%;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.close-btn:focus {
  border: none;
  outline: none;
}

.close-btn:before,
.close-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 23px;
  background-color: #00919a;
}

.close-btn:before {
  transform: rotate(-45deg);
}

.close-btn:after {
  transform: rotate(45deg);
}
