.container-fluid{
  margin: 0;
  background: url("../../../assets/images/main.jpg") no-repeat;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 40px);
}
.logo-container-welcome-page{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.logo-container-welcome-page img {
  width: 40%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
.description{
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #646464;
  text-align: center;
  justify-content: center;
  width: 60%;
  margin: 2% 0 2% 20%;
  line-height: 1.3;
}
label{
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 20px;
  color: #646464;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-email-container{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 300px;

}
.input-email-container label{
  margin-left: 2px;
  margin-bottom: 2px;
}

.input-email-container input{
  width: 85%;
  border: none;
  outline: none;
  font-size: 12pt;
  font-family: 'Roboto Condensed', sans-serif;
}
.input-icon-container{
  background: #ffffff;
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #5949a4;
  margin-bottom: 1%;
}
.email-icon{
  background: url("../../../assets/images/email_icon.png") no-repeat 10px 10px;;
  background-size: 60%;
  background-position: center;
  width: 9%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'HelveticaNeue', sans-serif;
  font-style: italic;
  font-size: 12pt;
  color: #b6b6b6;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'HelveticaNeue', sans-serif;
  font-style: italic;
  font-size: 12pt;
  color: #b6b6b6;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'HelveticaNeue', sans-serif;
  font-style: italic;
  font-size: 12pt;
  color: #b6b6b6;
}

button{
  background: #5949a4;
  padding: 15px 0 15px 0;
  font-family: 'HelveticaNeue', sans-serif;
  font-size:20px;
  border-radius: 6px;
  color: #ffffff;
  width: 100%;
  border: 0;
  outline: none;
  cursor: pointer;
}
.check-box-container{
  display: flex;
  justify-content: center;

}

.check-box-container label{
  display: flex;
  align-items: center;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  color: #646464;
  cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;

}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label{
  display: inline-block;
  position: relative;
  padding-left: 40px;
  line-height: 31px;
  cursor: pointer;
  margin-top: 2%;
  color: black
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #8f8f8f;
  background-color: #ffffff;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after{
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 4px;
  top: 5px;
  width: 20px;
  height: 10px;
  border-left: 4px solid #5949a4;
  border-bottom: 4px solid #5949a4;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after{
  opacity: 0;
}

input[type="checkbox"]:checked + label:after{
  opacity: 1;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before
  {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-top: 2%;

  }
  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after{
    width: 12px;
    height: 6px;
    left: 3px;
    top: 0;

  }
  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label{
    padding-left: 30px;
    font-size: 14px;
    line-height: initial;
  }

  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before{
    top: -8px;
  }

  .input-email-container{
    width: 70vw;
  }
  button{
    font-size:14px;
  }

.description{
    font-size: 13px;
    justify-content: center;
    width: 90%;
    margin: 2% 0 2% 5%;
    line-height: 1.3;
  }

}


