<div class="container-fluid">
  <main>
    <div class="logo-container-welcome-page">
      <img src="../../../assets/images/logo.png" alt="logo">
    </div>
    <div class="description">
      <p>Gmooh is the menu to discovery. It allows you to visualize all there is for you to see in the world.</p>
      <p>We use proprietary algorithms to suggest destinations and  everything they have to share in a way that best suits you.</p>
      <p>
        With an ever growing list of interests and cities, Gmooh is the solution you need to be able to get out of town by allowing
        you to choose a destination and consolidate all your tasks and arrangements while keeping in mind your preferences.
      </p>
      <p>
        Efficiently squeeze in some site seeing while on a work trip, book a reservation at your favorite chef's restaurant that you
        have been following on instagram, catch a concert by your favorite artist in a nearby city, visit an expo or museum and take
        advantage of great flight deals, top rated hotels and private apartments…
      </p>
      <p>All without ever changing tabs.</p>
      <p>Gmooh also makes it easy to document and keep track of your plans.  Make a wish list and share past, upcoming and current itineraries with friends and followers.</p>
      <p>sign up to try the demo and be amongst the first to try the simplest way to travel.</p>
</div>
    <form (submit)="this.onSubmitForm()"  [formGroup]="emailGroup">
      <div  class="input-email-container">
        <div class="input-icon-container" [style.borderColor]="!emailValid && formWasSubmitted ? 'red': 'rgb(84, 68, 161)'">
          <div class="email-icon"></div>
          <input  formControlName="email"  type="email" id="welcome-email" placeholder="Enter your e-mail" required>
        </div>
        <button type="submit">Try now</button>
        <div class="check-box-container">
          <input formControlName="subscribe" id="chekbox" type="checkbox" class="check-box-style">
          <label for="chekbox">I agree to receive newsletter emails from Gmooh</label>
        </div>
      </div>
    </form>
    <!--<span class="error-message">{{errorMessage}}</span>-->
  </main>
</div>
