*, *:before, *::after{
  box-sizing: border-box;
}


.global-table-container {
  margin: 0 10vw;
  width: 80vw;
  padding-left: 2%;
  --row-height: 50px;
  --table-height: 600px
}

.event-lists-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.table-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow-x: auto;
  height: var(--table-height);
  overflow-y: auto;
  -webkit-box-shadow: 1px 0px 5px 3px rgba(145,122,145,1);
  -moz-box-shadow: 1px 0px 5px 3px rgba(145,122,145,1);
  box-shadow: 1px 0px 5px 3px rgba(145,122,145,1);
}

.table-inner-container {
  display: flex;
  flex-direction: column;
}

.t-row {
  width: 100%;
  height: var(--row-height);
  display: flex;
}

.t-left-col {
  width: 80px;
  position: relative;
}

.t-time {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: gray;
  right: 22px;
}

.t-right-col {
  width: calc(100% - 80px);
  border-left: 1px solid #f2f2f2;
  position: relative;
}

.t-right-col::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -20px;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
}

.t-event-duration {
  position: absolute;
  left: 5px;
  top: 5px;
  color: white;
  font-size: 12px;
  font-weight: 100;
}

.events-container {
  width: 30%;
  align-items: center;
  border-radius: 5px;
  height: var(--table-height);
  overflow: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0px 5px 3px rgba(145,122,145,1);
}

.events-list {
  border: solid 1px #ccc;
  min-height: 50px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  width: 80%;
}

.plans-header {
  font-size: 14px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

.more-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  top: -35px;
  right: calc(15% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

.more-btn-inner {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.more-btn-inner::after, .more-btn-inner::before {
  content: '';
  display: inline-block;
  background: white;
  position: absolute;
}

.more-btn-inner::after {
  height: 30%;
  width: 2px;
}

.more-btn-inner::before {
  width: 30%;
  height: 2px;
}

.example-box {
  z-index: 3;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  position: relative;
  height: 50px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis
}

.resize-handle {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  cursor: move;
  width: 100%;
  height: 90%;
}

.drag-item {
  cursor: move;
  margin: 3px;
  text-align: center;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.row-item {
  width: 100%;
  height: 50px;
  padding: 0 2px;
  position: relative;
}

.delete-cross {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.delete-cross:after {
  content: '';
  position: absolute;
  top: 0;
  right: 5px;
  background: white;
  width: 1px;
  height: 10px;
  transform: rotate(45deg);
}

.delete-cross:before {
  content: '';
  position: absolute;
  top: 0;
  right: 5px;
  background: white;
  width: 1px;
  height: 10px;
  transform: rotate(-45deg);
}

.mobile-event-adder-arrow {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  transform: rotate(45deg);
  cursor: pointer;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}


@media only screen and (max-width: 768px) {

  .event-lists-wrapper .more-btn {
    display: none;
  }

  .global-table-container {
    margin: 0 5%;
    width: 90%;
    --row-height: 50px;
    --table-height: 600px
  }

  .event-lists-wrapper {
    width: 100%;
  }

  .table-container {
    max-width: 100%;
    width: 100%;
  }

  .events-container {
    display: none;
  }

  .t-event-name {
    margin-top: 20px;
  }
}
