
<div class="global-table-container">
  <mat-form-field>
    <mat-label>Date</mat-label>
    <mat-select
      (selectionChange)="onChangeDate($event)"
      [value]="table.daysRange[0]?._d"
    >
      <mat-option *ngFor="let date of table.daysRange" [value]="date._d">
        {{date._d | date}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="event-lists-wrapper" cdkDropListGroup>

    <div
      class="table-container"
      #scrollEl cdk-scrollable
    >
      <div
        class="table-inner-container"
        [style.height.px]="table.hours.length * table.rowHeight"
      >
        <div
          *ngFor="let hour of table.hours; index as i"
          class="t-row"
        >
          <div class="t-left-col">
            <span class="t-time">{{hour}}</span>
          </div>
          <div
            cdkDropList
            id="{{'row-' + hour }}"
            class="t-right-col"
            [cdkDropListData]="table.scheduledPlans[table.activeDate][hour]"
            (cdkDropListDropped)="drop($event, i)"
            (click)="showModalWithEvents(hour)"
          >
            <div
              *ngFor="let item of table.scheduledPlans[table.activeDate][hour]"
              class="example-box"
              [style.height.px]="item.height || table.rowHeight"
              [style.background-color]="booking.getPlanColor(item)"
              cdkDrag
              mwlResizable
              [validateResize]="validateCardResize"
              [enableGhostResize]="true"
              [resizeEdges]="{ bottom: true }"
              (resizing)="onResize($event, i)"
              (resizeEnd)="onResizeEnd($event, hour, i)"
              (cdkDragStarted)="start($event, item)"
            >
              <div class="resize-handle" cdkDragHandle></div>
              <span
                class="delete-cross"
                (click)="$event.stopPropagation(); table.removeItemFromScheduled(hour)"
              ></span>
              <span class="t-event-name">
                {{item.name ? item.name : item.placeName}}
              </span>
              <span class="t-event-duration">
                From {{hour}} to {{ item.endTime || table.hours[i + 1] }}
              </span>

            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="more-btn">
      <span class="more-btn-inner" (click)="booking.navigateToCities()" ></span>
    </div>

    <div class="events-container">
      
      <div class="plans-header"></div>

      <div cdkDropList
           [cdkDropListData]="table.plans"
           class="events-list"
           (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of table.plans" class="example-box drag-item"
             [ngStyle]="{'background-color': booking.getPlanColor(item)}"
             cdkDrag>
          <span class="delete-cross" (click)="table.deleteItemFromPlans(item.placeId)"></span>
          {{item.name ? item.name : item.placeName}}
        </div>
      </div>

    </div>
  </div>

</div>

