<mat-dialog-content>
  <div class="modal-events-container">
    <div class="more-btn">
      <span class="more-btn-inner" (click)="this.dialogRef.close(); booking.navigateToCities()" ></span>
    </div>
    <div class="events-list">
      <div class="example-box drag-item" *ngFor="let item of table.plans"
           [ngStyle]="{'background-color': booking.getPlanColor(item)}"
           (click)="chooseEvent(item)"
      >
        <span
          class="delete-cross"
          (click)="$event.stopPropagation(); table.deleteItemFromPlans(item.placeId)"
        ></span>
        {{item.name || item.placeName}}
      </div>
    </div>
  </div>
</mat-dialog-content>
