.modal-events-container {
  width: 90%;
  margin: 5% 0 5% 5%;
  border-radius: 5px;
  height: 80vh;
  overflow: auto;
  padding-top: 30px;
}

.modal-events-container .more-btn {
  top: calc(10vh - 40px);
  right: calc(50% - 30px);
}

.events-list {
  width: 100%;
}
