<div class="comment-wrapper">
  <div class="comment-avatar"
       [style.backgroundImage]="(user?.avatar) ? 'url('+ baseUrl + user.avatar+')'  :'url('+commentAvatar+')'"></div>
  <div class="comment-form-wrapper">
    <div class="comment-body">
      <div class="star-rating-wrapper">
        <app-stars-raiting
          [rating]="rating"
          (ratingClick)='onRatingClick($event)'
        ></app-stars-raiting>
      </div>
      <form [formGroup]="commentForm">
        <input
          *ngIf="tripReviewState"
          formControlName="comment"
          class="comment-input"
          type="text"
          placeholder="Add comment..."
        >
        <input
          *ngIf="!tripReviewState"
          formControlName="comment"
          class="comment-input"
          type="text"
          placeholder="Add review..."
        >
      </form>
    </div>
    <div class="comment-buttons-wrapper">
      <button class="cancel-btn" (click)="clearComment()">CANCEL</button>
      <button class="add-btn" *ngIf="!tripReviewState" (click)="addReview()">ADD REVIEW</button>
      <button class="add-comment-btn" *ngIf="tripReviewState" (click)="addComment()">ADD COMMENT</button>
    </div>
  </div>
</div>
