<div class="btn">
  <button
    *ngIf="!loggedIn"
    class="btn-element"
    (click)="openLogin()"
    [style.color]="blackText ? 'black' : 'white'"
  >
    <img
      class="not-logged-in-img"
      [ngClass]="{ 'inverted-img' : blackText }"
      [src]="notLoggedInImg"
    >
    <span>Log In</span>
    </button>
  <button
    *ngIf="loggedIn"
    class="btn-element logged-in-btn"
    [style.color]="blackText ? 'black' : 'white'"
    (click)="openMenu()"
  >
    <img class="btn-avatar" [src]="avatar.avatarSrc">
    <span class="btn-name">{{shortUserName}}</span>
    <ul
      class="login-menu"
      [ngClass]="{ 'active-menu' : menuIsOpen }"
    >
      <li (click)="navigate($event, 'account/profile')">Account</li>
      <li (click)="logOut($event)">Log out</li>
      <li
        *ngIf="!reservationListIsEmpty"
        (click)="navigate($event, 'booking-details')"
      >Booking details</li>
    </ul>
  </button>
  <button *ngIf="!loggedIn && !reservationListIsEmpty" class="btn-buy-trash"
          (click)="navigate($event, 'booking-details')">
    <img src="../../../../../assets/images/buy-trash.png">
  </button>
</div>
