.btn {
    display: flex;
    justify-content: flex-end;
    transition: 0.3s;
}

.btn-element, .btn-buy-trash {
    position: relative;
    background: transparent;
    opacity: 0.961;
    border-radius: 8px;
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    border: 0;
    outline: none;
    height: auto;
    cursor: pointer;
    margin-left: 10px;
    padding: 0 30px;
    display: flex;
  align-items: center;
}

.not-logged-in-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.inverted-img {
  filter: invert(80%);
}

.btn-avatar {
    height: 25px;
    width: 25px;
    margin-right: 20px;
    border-radius: 50%;
}

.btn-buy-trash img {
    width: 25px;
  }

  .logged-in-btn {
    position: relative;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  .login-menu {
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 36px;
    width: 160px;
    border: 1px solid #00919a;
    margin: 0;
    list-style-type: none;
    color: #00919a;
    text-align: left;
    border-radius: 5px;
    background: white;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;

  }

  .active-menu {
    transform: scaleY(1);
  }

  .login-menu li {
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 2px;
    z-index: 3;
  }

  .login-menu li:hover {
    background: #00919a;
    color: white;
  }


@media only screen and (max-width: 1572px) {
    .btn-avatar {
      margin-right: 5px;
    }

    .btn-element, .btn-buy-trash {
      padding: 0 10px;
      font-size:14px;
      margin-left: 5px;
      max-width: 130px;
    }

    .btn-buy-trash {
      padding: 10px 10px;
    }

    .btn-buy-trash img {
      margin-top: -5px;
    }


    .btn {
      /* position: absolute; */
    }
  }


