<section class="profile-info-section">
  <span class="section-title">Connection</span>
  <div class="social-btns-wrapper">
    <button class="facebook-btn" (click) ="bindFacebookAccount()">
      <img class="facebook-btn__img" src="../../../../../assets/images/facebook_icon.png">
      with Facebook
      <img *ngIf="facebookBtnChecked || socialNetworkName === 'facebook'"
           class="icon--checked" src="../../../../../assets/images/tick.png"></button>
    <button class="google-btn" (click) ="bindGoogleAccount()">
      <img class="google-btn__img" src="../../../../../assets/images/google-icon.png">
      with Google
      <img *ngIf="googleBtnChecked || socialNetworkName === 'google'"
           class="icon--checked" src="../../../../../assets/images/tick-blue.png">
    </button>
  </div>
</section>
