<div class="trip-details-container">

  <div class="trip-details-header">
    <span class="trip-type">{{tripDetails?.transportType}}</span>
    <span class="trip-place">{{tripDetails?.destinationCity}}</span>
    <span class="trip-date">{{tripDetails?.dateFrom}}-{{tripDetails?.dateTo}}</span>
    <span class="trip-price">{{tripDetails?.price}} $</span>
  </div>

  <div *ngIf="!isMobile" class="trip-details-images">
    <div *ngFor="let image of tripDetails?.images" [style.backgroundImage]="'url(' + baseUrl + image +')'"></div>
  </div>
  <div *ngIf="isMobile" class="trip-details-images">
    <div [style.backgroundImage]="'url('+ baseUrl + tripDetails?.images[0] +')'"></div>
  </div>
  <div class="trip-details-days-list">
    <div class="day-wrapper" *ngFor="let day of tripDetails?.detailsList">
      <span class="day-date">{{day.date}}</span>
      <div class="day-event-wrapper" *ngFor="let event of day?.events"
           (mouseenter)="dayEventOnHover.toggleOpacity(1)"
           (mouseleave)="dayEventOnHover.toggleOpacity(0)">
        <span  class="event-time">{{event.time}}</span>
        <span class="day-node-circle"></span>
        <div class="event-description">
          <span  class="event-time-for-mobile">{{event.time}}</span>
          <div class="details-info">
            <span class="event-type">{{event.placeType}}</span>
            <span>{{event.placeName}} ({{event.price}}$)</span>
          </div>
        </div>
        <div
          [style.display]="!isMobile ? 'flex' : 'none'"
          class="event-full-description"
          appDayEventOnHover
          #dayEventOnHover=dayEventOnHover
        >
          <div
            class="event-image"
            [style.backgroundImage]="event.type === 5 ? 'url(' + event.image + ')' : 'url(' + baseUrl + event.image + ')'"
          ></div>
          <div class="details-full-info">
            <span class="event-type">{{event.placeType}}</span>
            <span class="place-name">{{event.placeName}} ({{event.price}}$)</span>
            <span class="place-address">{{event.address}}</span>
          </div>
        </div>
      </div>
      <div class="day-node"></div>
    </div>
  </div>
  <div class="trip-details-reviews">

    <app-review-controls
      [tripDetails]="tripDetails"
      [tripId]="currentTripId"
      (onLikeTrip)="this.getTrip()"
      [tripImage]="tripDetails?.images[0]"
    ></app-review-controls>

    <div class="review-value">
      <span>Review</span>
    </div>
    <div class="reviews-list">
      <app-review-item
        [review]="review"
        [user]="user"
        [commentAvatar]="'../' + commentAvatar"
        (fingerClick)='getReview()'
      >
      </app-review-item>
    </div>


    <app-review-form
      [tripReviewState]="tripReviewState"
      [tripId]="currentTripId"
      [review]="review"
      (onAddReview)="tripReviewState = true"
      (onSendReview)="getReview()"
    ></app-review-form>


  </div>
</div>
