
.trip-details-container {
  display: flex;
  flex-direction: column;
}

.trip-details-header, .trip-details-days-list, .trip-details-reviews {
  padding: 30px 10vw;
  display: flex;
  flex-direction: column;
  color: gray;
}

.trip-details-header span {
  margin: 5px 0;
}

.trip-type {
  color: #00919a;
  font-size: 18px;
  text-transform: capitalize;
}

.trip-place {
  font-weight: bold;
  color: black;
}

.trip-price {
  font-weight: bold;
  color: black;
}

.trip-details-images {
  display: flex;
}

.trip-details-images div {
  width: calc(100% / 3);
  height: 30vh;
  background-position: center;
  background-size: cover;
}

.trip-likes-count {
  padding-left: 5px;
}

.day-wrapper {
  width: 50%;
  position: relative;
  margin-bottom: 50px;
}

.day-date {
  color: #00919a;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
}

.day-event-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.event-time, .event-time-for-mobile {
  width: 50px;
  padding: 10px 0;
  color: lightgrey;
  font-style: italic;
}

.event-description {
  width: calc(85% - 20px);
  padding: 10px 30px;
}

.day-node {
  position: absolute;
  background: #00919a;
  height: 100%;
  width: 1px;
  top: 33px;
  left: 60px;
}

.day-node-circle {
  width: 12px;
  height: 12px;
  background: #00919a;
  position: absolute;
  left: 54px;
  border-radius: 50%;
}

.event-full-description {
  position: absolute;
  right: -70%;
  opacity: 0;
  top: calc(50% - 50px);
  width: 100%;
  height: 150px;
  border: 1px solid gray;
  transition: opacity 0.2s;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(117,111,117,1);
  -moz-box-shadow: 10px 10px 5px -6px rgba(117,111,117,1);
  box-shadow: 10px 10px 5px -6px rgba(117,111,117,1);
}

.place-name {
  color: black;
}

.place-address {
  color: gray;
  font-size: 14px;
}

.details-info {
  display: flex;
  flex-direction: column;
}

.event-type {
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}

.details-full-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.event-image {
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.review-controls {
  display: flex;
  color: gray;
  font-size: 16px;
}

.review-controls .img {
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.review-controls > div{
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.review-value {
  margin-top: 30px;
  color: #00919a;
  font-size: 16px;
  font-weight: 600;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.comment-wrapper {
  display: flex;
}

.comment-avatar {
  width: 80px;
  height: 80px;
  background-position: center;
  border-radius: 50%;
  background-size: cover;
}

.comment-body{
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  min-height: 80px;
}

.star-rating-wrapper {
  border-bottom: 1px solid lightgrey;
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
}

.comment-input {
  border: none;
  padding-left: 10px;
  width: calc(95% - 10px);
  outline: none;
  font-size: 15px;
}

.comment-input::placeholder {
  font-style: italic;
  color: lightgrey;
}

.mobile-trip-details-image {
  width: 100%;
}

.comment-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.comment-buttons-wrapper {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 50px;
}

.comment-buttons-wrapper button {
  outline: none;
  border: none;
  background: none;
  margin: 0 30px;
  cursor: pointer;
}

.cancel-btn {
  color: lightgrey;
}

.add-btn {
  color: #00919a;
}

@media only screen and (max-width: 700px) {
  .trip-details-images div {
    width: 100%;
  }

  .day-wrapper {
    width: 100%;
  }

  .review-controls {
    font-size: 14px;
  }

  .review-controls .img{
    height: 15px;
  }

  .review-controls {
    justify-content: space-between;
  }

  .review-controls > div{
    margin-right: 0;
  }

  .comment-avatar {
    width: 40px;
    height: 40px;
  }

  .event-description {
    display: flex;
    flex-direction: column;
  }

  .event-time-for-mobile {
    display: flex;
    font-size: 15px;
  }
  .event-time {
    display: none;
  }
  .day-node {
    left: 10px;
  }

  .day-node-circle {
    left: 4px;
  }

  .day-date {
    margin-left: 0;
  }

  .comment-buttons-wrapper {
    width: calc(100% - 30px);
    display: flex;
    margin-right: 0;
    justify-content: space-around;
  }

  .comment-buttons-wrapper button {
    margin: 0;
  }

  .trip-details-container {
    padding-top: 0;
  }


}

@media only screen and (min-width: 701px) {
  .event-time-for-mobile {
    display: none;
  }
  .event-time {
    display: flex;
  }
}
