*, *:before, *::after{
  box-sizing: border-box;
}


.flight-details {
  margin-left: 2%;
  flex-wrap: wrap;
}

.details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  padding: 15px;
  /*border-bottom-right-radius: 15px;*/
  /*border-top-right-radius: 15px;*/
  border-right: 1px solid #f2f2f2;
  -webkit-box-shadow: -3px 0 5px 0 rgba(0,0,0,0.53);
  -moz-box-shadow: -3px 0 5px 0 rgba(0,0,0,0.53);
  box-shadow: -3px 0 5px 0 rgba(0,0,0,0.53);
  text-align: center;
}

.flight-details-price {
  align-items: flex-end;
  width: 20%;
  padding: 15px;
  /*border-bottom-left-radius: 15px;*/
  /*border-top-left-radius: 15px;*/
  border-left: 1px solid #f2f2f2;
  -webkit-box-shadow: 3px 0 5px 0 rgba(0,0,0,0.53);
  -moz-box-shadow: 3px 0 5px 0 rgba(0,0,0,0.53);
  box-shadow: 3px 0 5px 0 rgba(0,0,0,0.53);
}

.flight-details .title {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
}

.flight-details-arrive {
  display: flex;
  flex-direction: column;
}

.flight-details-departure {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.flight-details-wrapper {
  display: flex;
  font-size: 14px;
  position: relative;
}


.flight-time {
  display: flex;
  padding-top: 10px;
  border-top: 1px solid black;
  justify-content: center;
  height: 70%;
  align-self: flex-end;
  width: 40%;
}

.city-name {
  display: flex;
  justify-content: space-between;
  color: #00919a;
  margin-top: 5px;
}

.price-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: gray;
  height: 100%;
}

.trip-price {
  font-size: 24px;
  color: var(--primary-color);
  margin-top: 5px;
}


.details-arrive-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
}

.details-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  min-width: 10%;
}

.time {
  font-size: 22px;
  font-weight: 500;
}

.duration {
  color: gray;
  font-size: 13px;
}

.bold {
  font-weight: 600;
}

.cut-line {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 100%;
  left: 80%;
  border: 1px dashed lightgrey;
}

.top-angle {
  display: inline-block;
  position: absolute;
  top: -8px;
  left: calc(80% - 7px);
  width: 16px;
  height: 16px;
  background: white;
  transform: rotate(45deg);
}

@media only screen and (max-width: 768px) {

  .flight-details {
    display: none;
  }

  .flight-details-wrapper {
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
  }

  .details-wrapper {
    width: 100%;
  }

}
