<div class="flight-details">
  <p class="title" >{{origin}} to {{destination}}</p>

  <div class="flight-details-wrapper">
    <div class="details-wrapper">

      <div class="details-block">
        <span class="time">11:50</span>
        <span>{{origin}} </span>
      </div>

      <div class="flight-time">
        <span class="duration">Duration 1h 25m</span>
      </div>
      <div class="details-block">
        <span class="time">14:20</span>
        <span>{{destination}} </span>
      </div>
      <div class="details-block">
        <span>Flight no</span>
        <span class="bold">FR 7620</span>
      </div>
      <div class="details-block">
        <span>Type</span>
        <span class="bold">Direct</span>
      </div>

    </div>

<!--    <span class="cut-line"></span>-->
<!--    <span class="top-angle"></span>-->

    <div class="flight-details-price">
      <div class="price-block">
        <span>Value fare</span>
        <span class="trip-price">${{search.flightsData.flightPrice}}</span>
      </div>
    </div>
  </div>
</div>




