*, *:before, *::after{
  box-sizing: border-box;
}

.name-city {
  display: flex;
  justify-content: space-between;
  padding: 1% 10%;
  box-shadow: inset 10px 23px 64px -41px rgba(0, 0, 0, 0.6);
}

.name-city-container a , h3 {
  font-family: 'HelveticaNeue', sans-serif;
  font-size:25px;
}

.name-city-container a {
  color: #00919a;
  font-weight: bolder;
}

.name-city-container b {
  color: black;

}

.time {
  font-size: 22px;
}

.time-to-arrive {
  color: #00919a;
  font-size: 12px;
}

.show-more a {
  color: #00919a;
  font-family: 'Maven Pro', fantasy;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

h2 {
  font-size: 19pt;
  color: #00919a;
  font-family: 'HelveticaNeue-Light', sans-serif;
  margin-left: 2%;
}

h3 {
  color: #646464;
}

.img-title-book {
  -webkit-background-size: cover;
  background-size: cover;
  height: 30vh;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.text span {
  color: #00919a;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 18pt;
}

.info-container-book {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  margin-left: var(--horizontal-padding);
  margin-right: var(--horizontal-padding);
}



.btn-reservation {
  margin-top: 2%;
  margin-bottom: 0;
  background: #00919a;
  color: #ffffff;
}

.btn-pending-reservation {
  background: #ffffff;
  color: #00919a;
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn-cont {
  display: flex;
  justify-content: center;
}

.btn-cont button {
  width: 25%;
  box-shadow: 0 0 6px 4px rgba(255, 247, 247, 0.13);
  font-family: 'HelveticaNeue', sans-serif;
  font-size:20px;
  border: 1px solid #00919a;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 0;
  opacity: 0.961;
}

.img-container {
  display: flex;
}

.city-picture {
  width: calc(100% / 3);
  height: 100%;
  -webkit-background-size: cover;
  background-position: center;
}

.title-booking-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}


@media only screen and (max-width: 768px) {

  .title-booking-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-container-book {
    margin: 0 5%;
    padding-top: 30px;
  }

  .info-container-book > p {
    font-size: 14px;
    line-height: 1.3;
  }

  .city-picture {
    width: 100%;
  }

  .btn-cont button {
    width: 90%;
    margin-left: 2%;
  }

  .flight-time img {
    display: none;
  }

  .flight-time {
    align-items: center;
    justify-content: center;
  }

  .container-booking-details {
    padding-top: 0;
  }
}
