<div #bookingDetailsPage></div>
<div *ngIf="citiesData" class="container-booking-details">
  <main>
    <div class="name-city">
      <div class="name-city-container">
        <h3>
          <b *ngIf="search.flightsData.destinationCityName">
            {{search.flightsData.destinationCityName}}
          </b>
          <span *ngIf="search.flightsData.country"><b>,
          </b>{{search.flightsData.country}}</span>
        </h3>
      </div>
    </div>
    <div *ngIf="!booking.isMobile" class="img-title-book">
      <div *ngFor="let img of [1, 2, 3]; index as i;" [style.backgroundImage]="'url('+baseUrl+search.flightsData.images[i]+')'"
           class="city-picture"></div>
    </div>
    <div *ngIf="booking.isMobile" class="img-title-book">
      <div [style.backgroundImage]="'url('+baseUrl+search.flightsData.images[0]+')'" class="city-picture"></div>
    </div>

    <div class="info-container-book">
      <h2>FLIGHT DETAILS</h2>

      <app-flight-data></app-flight-data>

      <div class="title-booking-details">
        <h2>BOOKING DETAILS</h2>
        <app-btn-synchronize-google-calendar
          (click)="synchronizeWithGoogleCalendar()"
        ></app-btn-synchronize-google-calendar>
      </div>

      <app-event-types [sections]="booking.sections"></app-event-types>

    </div>

    <app-plan-table></app-plan-table>

    <div class="btn-cont">
      <button (click)="openPaymentDialog()" class="btn-reservation">Book</button>
    </div>

    <div class="btn-cont">
      <button (click)="saveTrip()" class="btn-pending-reservation">Save</button>
    </div>

  </main>
</div>
