.trip-details-days-list {
  position: relative;
  padding: 30px 5rem;
  display: flex;
  flex-direction: column;
  color: gray;
  max-height: 60vh;
}

.title {
  color: black;
  font-weight: bold;
}

.scroll-wrapper {
  position: relative;
  overflow-y: scroll;
  padding-bottom: 10vh;
}
.day-wrapper {
  position: relative;
  margin-bottom: 50px;
}

.day-date {
  color: #00919a;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
}

.day-event-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.day-node {
  position: absolute;
  background: #00919a;
  height: 100%;
  width: 1px;
  top: 33px;
  left: 60px;
}

.day-node-circle {
  width: 12px;
  height: 12px;
  background: #00919a;
  position: absolute;
  left: 54px;
  border-radius: 50%;
}



.event-description, .details-info {
  display: flex;
  flex-direction: column;
}

.event-description {
  width: calc(85% - 20px);
  padding: 10px 30px;
}

.event-type {
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}

.event-address {
  font-size: 14px;
}

.event-time, .event-time-for-mobile {
  width: 50px;
  padding: 10px 0;
  color: lightgrey;
  font-style: italic;
}

.event-time-for-mobile {
  display: flex;
  font-size: 15px;
}
.event-time {
  display: none;
}

.trip-details-footer {
  position: absolute;
  bottom: 2px;
  min-height: 10vh;
  left: 5rem;
  right: 5.5rem;
  display: flex;
  justify-content: center;
  background: rgba(255,255,255, 0.8);
  align-items: center;
}

.close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5%;
  right: 7%;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.close-btn:focus {
  border: none;
  outline: none;
}

.close-btn:before,
.close-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  height: 1px;
  width: 23px;
  background-color: #00919a;
}

.close-btn:before {
  transform: rotate(-45deg);
}

.close-btn:after {
  transform: rotate(45deg);
}

.btn-green {
  cursor: pointer;
  outline: none;
  border: 1px solid #00919a;
  font-size: 18px;
  color: #fff;
  background: #00919a;
  height: 44px;
  padding: 0 5%;
  /* margin-bottom: 3%; */
  border-radius: 8px;
}

.btn-green:hover {
  color: #00919a;
  background: #ffffff;

}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@media only screen and (min-width: 701px) {
  .event-time-for-mobile {
    display: none;
  }
  .event-time {
    display: flex;
  }
}


@media only screen and (max-width: 700px) {

  .trip-details-days-list {
    padding: 30px 2rem;
  }

  .trip-details-footer {
    left: 2rem;
    right: 2.5rem;
  }

  .event-description {
    display: flex;
    flex-direction: column;
  }

  .day-node {
    left: 10px;
  }

  .day-node-circle {
    left: 4px;
  }

}
