<div class="trip-details-days-list">
  <h2 class="title">Preview page</h2>
  <button class="close-btn" (click)="closeModal()"></button>
  <p *ngIf="!data.length">
     No data to display. Add events to the calendar!
  </p>

  <div
    class="scroll-wrapper"
    *ngIf="data.length"
  >
      <div class="day-wrapper" *ngFor="let day of days">
          <span class="day-date">{{day.date}}</span>
          <div class="day-event-wrapper" *ngFor="let event of day?.events">
            <span  class="event-time">{{event.time}}</span>
            <span class="day-node-circle"></span>
            <div class="event-description">
              <span  class="event-time-for-mobile">{{event.time}}</span>
              <div class="details-info">
                <span class="event-type">{{event.type}}</span>
                <span>{{event.placeName || event.name }} ({{event.price}}$)</span>
                <span class="event-address">{{event.address }}</span>
              </div>
            </div>
          </div>
          <div class="day-node"></div>
        </div>
  </div>

  <div class="trip-details-footer" *ngIf="data.length">
    <button class="btn-green" (click)="onClickSave()">Share your trip </button>
  </div>
</div>
