<div class="section">
  <div class="section__back-image"></div>

  <div class="content">
    <div class="content__text">
      <h3>Cycle through <br> alternate flights,</h3>
      <p>preset all your preferences <br> and leverage our scheduler <br> to sync all the details to <br> your calendar</p>
    </div>
    <div class="content__image"><img src="../../../../assets/images/pic33.png"></div>
  </div>
</div>

