<section class="search-section">
  <div class="input-block">
    <input class="input" placeholder="Search"
           [(ngModel)]="searchText"
           (keyup)="onKeyUp($event)"
           [ngClass]="{ 'active' : searchList.length > 0 }"
           [matAutocomplete]="eventSearch"
    >
    <img (click)="onClickSearch()" class="search-img" [src]="searchIcon">

    <mat-autocomplete #eventSearch="matAutocomplete">
      <mat-option
        *ngFor="let item of searchList"
        [value]="item?.name"
        (onSelectionChange)="goToEvent(item)"
      >
        <span class="item-text">{{item?.name || item?.errorText}}</span>
        <img
          *ngIf="!item.errorText && !item.alreadyInBasket"
          class="item-img"
          [src]="basketIcon"
          (click)="addToCart($event, item)"
        >

      </mat-option>
    </mat-autocomplete>

  </div>

</section>
