.search-section {
  position: relative;
  font-size: 16px;
  color: #979797;
}

.input-block {
  position: relative;
  width: 100%;
}

.input {
  padding: 8px 40px 8px 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #9b9b9b;
  width: calc(100% - 52px);
  font-size: 16px;
  color: #00919A;
  overflow: hidden;
}

.input:focus {
  border-color: #00919A !important;
}

.search-img, .item-img {
  position: absolute;
  top: calc(50% - 9px);
  right: 15px;
  cursor: pointer;
}


.list-block {
  position: absolute;
  z-index: 2;
  top: 35px;
  left: 0;
  right: 0;
  border: 1px solid #979797;
  border-radius: 0 0 8px 8px;
}

.item {
  width: calc(100% - 55px);
  padding: 8px 45px 8px 10px;
  overflow: hidden;
  background-color: white;
  border-top: 1px solid #979797;
  position: relative;
}

.item:hover {
  color: #00919A !important;
}

.item-text {
  width: 85%;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.first-item {
  border-top: none;
}

.last-item {
  border-radius: 0 0 7px 7px;
}

.hidden-block {
  display: none;
}

.show-block {
  display: block;
}

.active {
  border-color: #00919A !important;
}

.error-message {
  cursor: auto !important;
}

.error-message:hover {
  color: #979797 !important;
}
