
.s-container {
  height: calc(100vh - 350px - 40px) !important;
}

app-history-list-item {
  z-index: 2;
}

.history-page-wrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-left: 25vw;
  align-items: center;
  position: relative;
  font-size: 14px;
  min-height: var(--spinner-height);
  z-index: 1;
}

.history-item-node {
  position: absolute;
  width: 2px;
  height: 130px;
  z-index: 1;
  opacity: 0;
  transform: translateY(10px)
}

.node-up-circle, .node-low-circle {
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  left: -5px;
}

.node-up-circle {
  top: 0
}

.node-low-circle {
  bottom: 0;
  background: gray;
}

.empty-history-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.load-more-spinner {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .history-page-wrapper {
    width: 100vw;
    margin-left: 0;
  }

  .mat-pagination-wrapper {
    margin-bottom: 50px;
  }
}
