<div #history></div>
<div *ngIf="!isLoading" class="history-page-wrapper">
    <app-history-list-item
            *ngFor="let historyItem of historyData; index as i"
            [data]="historyItem"
            [index]='i'
            [isMobile]="isMobile"
            [style.width]="'100%'"
    >
    </app-history-list-item>
    <div
            *ngFor="let historyItem of historyData; index as j"
            [@showNode]="hiddenNodeItem ? 'hidden' : 'shown'"
            [style.background]="historyData[j].status === 'done' ? 'gray' : '#00919a'"
            [style.display]="j === historyData?.length - 1 ? 'none' : historyData?.length > 1 ? 'block' : 'none'"
            [style.top]="j === 0 ? startOffsetTop + 'px' : (startOffsetTop + (j * tripNodeHeight) + 'px')"
            class="history-item-node"
    >
        <span
                *ngIf="historyData?.length > 1"
                [style.background]="historyData[j].status === 'done' ? 'gray' : '#00919a'"
                class="node-up-circle"
        ></span>
        <span
                *ngIf="historyData?.length > 1 && j === historyData?.length - 2"
                [style.background]="historyData[j].status === 'done' ? 'gray' : '#00919a'"
                class="node-low-circle"
        ></span>
    </div>

    <div class="mat-pagination-wrapper">
        <mat-paginator (page)="handlePage($event)"
                       [hidePageSize]="true"
                       [length]="totalItems"
                       [pageIndex]="page - 1"
                       [pageSizeOptions]="[size]"
                       [pageSize]="size">
        </mat-paginator>
    </div>

    <div *ngIf="historyData?.length === 0" class="empty-history-page">
        Your history is empty now.
    </div>
</div>

<div *ngIf="isLoading" class="spinner-container s-container">
    <app-preloader></app-preloader>
</div>
