.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: #818078;
}

.form {
  width: 90%;
}

.container * {
  box-sizing: border-box;
}

.wrap-outer {
  max-width: 500px;
  margin: 0 auto;
}

.wrap-outer p{
  text-align: center;
  padding: 0px;
  margin: 3px 0px;
  color: #4a4a4a;
}

.wrap-outer .wrap-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wrap-outer > .wrap-inner {
  margin-bottom: 10px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-icon {
  background: url(../../../../../../assets/images/avatar.png) no-repeat center;
  height: 80px;
}

.wrap-inner button {
  padding: 8px 16px;
  background: #00919a;
  color: #f2f2f2;
  border: 1px solid #00919a;
  border-radius: 5px;
  flex: 1 0 120px;
  width: 318px;
  font-size: 16px;
  cursor: pointer;
}

.file-upload {
  display: block;
  position: relative;
  overflow: hidden;
  height: 24px;
  border: 1px solid #00919a;
  border-radius: 8px;
  width: 200px;
}

.file-upload .button-choose-file, .file-upload > mark {
  display: block;
  cursor: pointer;
}

.file-upload .button-choose-file {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  text-align: center;
  padding-top: 3px;
  color: #00919a;
}

.file-upload > mark {
  background: transparent;
  padding-left: 1em;
}

.file-upload input[type=file] {
  position: absolute;
  top: 0;
  opacity: 0;
}

.wrap-inner .skip-avatar {
  background-color: white;
  color: #00919a;
}

.wrap-inner .file-upload {
  margin-bottom: 40px;
}

.error-message{
  text-align: center;
  color: #ff0000;
  font-size: 0.7rem
}
