<div class="container">
  <form class="form" [formGroup]="">
    <div class="wrap-outer">
      <div class="wrap-inner">
        <div
          class="avatar"
          *ngIf="auth.avatar"
          [style.backgroundImage]="'url('+auth.avatar+')'"
        ></div>
        <svg class="avatar-icon" *ngIf="!auth.avatar"></svg>
      </div>
      <p>Upload an avatar</p>
      <div class="wrap-inner">
        <label class="file-upload" >
          <span class="button-choose-file">Choose file</span>
          <input type="file" accept=".jpg, .jpeg, .png" id="fileInput" (change)="onChooseAvatar($event)">
        </label>
      </div>
      <div class="wrap-inner">
        <button type="submit" (click)='onSubmitSave($event)'>Save</button>
      </div>
      <div class="wrap-inner">
        <button
          type="submit"
          class="skip-avatar"
          (click)='onSubmitSkip($event)'
        >Skip step and save</button>
      </div>
      <div
        class="error-message"
        *ngIf="auth.registrationError"
      >{{auth.registrationError}}</div>
    </div>
  </form>
</div>
