<div
  class="card-container"
  (mouseenter)="onCardHover(true)"
  (mouseleave)="onCardHover(false)"
>
  <div class="content">
    <div
      class="recommend-card inner inner-front"
    >
      <div
        class="image-inner-front"
        [style.backgroundImage]="'url('+ bgImage(0) +')'"
        [style.opacity]="active ? 0 : 1"
      ></div>
      <div
        class="image-inner-front"
        [style.backgroundImage]="'url('+ bgImage(1) +')'"
        [style.opacity]="!active ? 0 : 0.7"
      ></div>
    </div>
    <div
      class="inner inner-back"
      [ngClass]="{ 'active-inner-back' :  active}"
    >

      <section class="row">
        <span class="margin-r">{{city?.countryName}}, </span>
        <span>{{city?.cityName}}</span>
      </section>

      <section class="row">
        <span class="margin-r">Distance: </span>
        <span>{{city?.distance}}km</span>
      </section>

      <section class="row">
        <span class="margin-r">Price: </span>
        <span>${{city?.price}}</span>
      </section>

    </div>
  </div>

  <div class="desc" [ngClass]="{ 'active-desc' : active }">
    <span>{{city?.countryName}}, {{city?.cityName}}</span>
  </div>

</div>

