

.card-container {
  height: 100%;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.card-container .content {
  position: relative;
  width: 100%;
  height: 90%;
  transform-style: preserve-3d;
}

.card-container .desc {
  height: 10%;
  width: 100%;
  font-size: 14px;
  transition: 0.2s;
  opacity: 1;
}

.card-container .active-desc {
  opacity: 0;
}

.inner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.6s cubic-bezier(0.21, 0.84, 0.5, 0.96);
}

.inner-front {
  position: relative;
}

.image-inner-front {
  position: absolute;
  transition: opacity 2s;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.inner-back {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
  transform: scale(0);
  color: white;
  transition: transform 0.2s ;
}

.active-inner-back {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.6s;
}

.row {
  margin: 10px 0;
  font-size: 16px;
  text-shadow: 3px 2px 6px #000000;
  display: flex;
  justify-content: center;
}

.row-colored {
  color: var(--primary-color);
  opacity: 0.8;
}

.recommend-card {
  margin-right: 2%;
  cursor: pointer;
  margin-bottom: 5px;
}

.margin-r {
  margin-right: 5px;
}
