<div class="review-controls">
  <div>
    <img class="img" *ngIf="!tripDetails?.voteLike" [src]="likeIcon" (click)="likeTrip()">
    <img class="img" *ngIf="tripDetails?.voteLike" [src]="activeLikeIcon" (click)="likeTrip()">
    Like
    <span class="trip-likes-count">{{tripDetails?.like}}</span>
  </div>
  <div class="share-block">
    <img class="img" [src]="shareIcon" (click)="openShareMenu()">
    <app-social-sharing
      class="share-menu"
      *ngIf="shareMenuIsVisible"
      [shareLink]="this.shareLink"
      (press)="shareMenuIsVisible = false"
    ></app-social-sharing>

  </div>

  <div (click)="copyTrip()">
    <img class="img" [src]="copyIcon">Copy this trip
  </div>
</div>
