.share-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px -1px 14px -2px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px -1px 14px -2px rgba(0,0,0,0.53);
  box-shadow: 0px -1px 14px -2px rgba(0,0,0,0.53);
  background: white;
  z-index: 5;

}

.arrow {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  left: -8px;
  top: calc(50% - 8px);
  background: white;
  transform: rotate(45deg);
  border-radius: 2px;
}

.share-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
}
