<main [ngClass]="{'p--reset': isMobile}" #recommendation>
  <div class="empty-search-result" *ngIf="!successfulRequest && !isSearching">
    <span>Sorry we couldn't find anything with your request. Please try again later or change the dates.</span>
  </div>
  <div *ngIf="successfulRequest && !isSearching" class="main-container">

    <div *ngFor="let recommendation of recommendedPlaces; index as i">
      <app-recommendation-row
        [recommendation]="recommendation"
        [index]="i"
        [isMobile]="isMobile"
      >
      </app-recommendation-row>
    </div>
  </div>
</main>

<div class="spinner-container" *ngIf="isSearching">
  <app-preloader></app-preloader>
</div>



