*, *:before, *::after{
  box-sizing: border-box;
}

main {
  background: #ffffff;
}

.empty-search-result {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-search-result span {
  text-align: center;
}

.p--reset {
  padding-top: 0;
}
