.review-item {
  display: flex;
  margin: 30px 0;
}

.review-avatar {
  width: 80px;
  height: 80px;
  background-position: center;
  border-radius: 50%;
  background-size: cover;
}

.review-info {
  width: calc(85% - 30px);
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  color: #ea0;
}

.rating-value {
  padding-right: 10px;
}

.likes-controls-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.likes-controls-wrapper img {
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.likes-controls-wrapper span {
  margin-right: 10px;
}

.dislike-review {
  transform: rotate(180deg);
}



.review-text {
  display: inline-block;
  margin-top: 10px;
  color: black;
  font-weight: 500;
  line-height: 1.2;
  font-size: 15px;
}

.comment-wrapper{
  padding-left: 6rem;
}



@media only screen and (max-width: 700px) {
  .review-avatar {
    width: 40px;
    height: 40px;
  }

  .likes-controls-wrapper img {
    height: 15px;
  }
}
