<div class="review-item" *ngIf="review">
  <div class="review-avatar"
       [style.backgroundImage]="review?.avatar ? 'url('+ baseUrl + review.avatar + ')' : 'url('+ commentAvatar +')'"></div>
  <div class="review-info">
    <div class="rating-wrapper">
      <span class="rating-value">{{review?.mark}}</span>
      <app-immutable-rating [rating]="review?.mark"></app-immutable-rating>
    </div>
    <span class="review-text">{{review?.text}}</span>
    <div class="likes-controls-wrapper">
      <img *ngIf="review.voteLike" src="../../../../../assets/images/active-review-like.png"
           (click)="likeReview(review.id)">
      <img *ngIf="!review.voteLike" src="../../../../../assets/images/like-review.png"
           (click)="likeReview(review.id)">
      <span [style.color]="review.voteLike ? '#ea0' : 'gray'">{{review?.likeCounter}}</span>
      <img *ngIf="!review.voteDislike" class="dislike-review" src="../../../../../assets/images/like-review.png"
           (click)="dislikeReview(review.id)">
      <img *ngIf="review.voteDislike" class="active-dislike-review"
           src="../../../../../assets/images/dislike-aktive.png" (click)="dislikeReview(review.id)">
      <span [style.color]="review.voteDislike ? '#d75a4a' : 'gray'">{{review?.dislikeCounter}}</span>
    </div>
  </div>
</div>

<div class="comment-wrapper">
  <app-comment-item
    [review]="review"
    [user]="user"
    [commentAvatar]="commentAvatar"
    (fingerClick)='emitEvent()'
  >
  </app-comment-item>
</div>
