<div class="section">
    <div class="section__back-image"></div>

    <div class="content">
        <div class="content__text">
            <h3>Gmooh is the easiest</h3>
            <p>and funnest way to plan <br> your trip, weather you know <br> where you want to go</p>
        </div>
        <div class="content__image"><img src="../../../../assets/images/pic11.png"></div>
    </div>
</div>
