<div class="container">
  <div class="logo">
    <img [height]="124"  src="../../../../../assets/images/Success.png" >
    <p class="status" *ngIf="!data?.status">Success</p>
    <p class="status" *ngIf="data?.status">{{data?.status}}</p>
    <p class="text" *ngIf="data?.text">{{data?.text}}</p>

    <button class="btn--ok " (click)="closeModal()"> Ok </button>
  </div>
  <button class="close-btn" (click)="closeModal()"></button>
</div>
