<div class="profile-tabs-wrapper">
  <ul class="nav-tabs">
    <li *ngFor="let tab of tabs"
        (click)="setPage(tab)"
        [style.color]="currentUrl === tab.slug ? activeColor : 'gray'"
    >
      {{ tab.title }}
    </li>
  </ul>
  <span
    class="tab-border"
    [@moveBorder]="currentUrl === tabs[0].slug ? {value: 'onProfile', params: {width: navWidth}} : 'onHistory'"
  ></span>
  <span class="bg-tab-border"></span>
</div>

<div [ngSwitch]="currentUrl">
  <app-profile-page *ngSwitchCase="tabs[0].slug"></app-profile-page>
  <app-history-page *ngSwitchCase="tabs[1].slug"></app-history-page>
</div>
