.profile-tabs-wrapper {
  height: 40px;
}

.nav-tabs {
  list-style-type: none;
  width: 40vw;
  padding: 0;
  margin: 0 0 0 30vw;
  display: flex;
  justify-content: center;
}

.nav-tabs li {
  padding: 10px 50px;
  cursor: pointer;
  color: #00919a;
  text-align: center;
  width: 100%;

}

.tab-border {
  display: inline-block;
  width: calc(40vw / 2);
  height: 2px;
  position: absolute;
  background: var(--primary-color);
  z-index: 2;
}

.bg-tab-border {
  position: absolute;
  background: lightgrey;
  height: 2px;
  left: 0;
  right: 0;
}


@media only screen and (max-width: 700px) {
  .nav-tabs li {
    padding: 10px 0;
    width: 50%;
  }

  .nav-tabs {
    width: 100vw;
    margin: 0;
  }

  .tab-border {
    width: calc(100vw / 2);
  }

  .profile-tabs-wrapper {
    padding-top: 0;
  }
}
