<div class="avatar-wrapper">
  <div class="avatar" appAvatarControls
       [style.backgroundImage]="'url(' + avatar.avatarSrc + ')'">
    <div class="avatar-controls">
      <img src="../../../../../../assets/images/upload.png">
      <input type="file" accept=".jpg, .jpeg, .png" id="new-avatar-control" (change)="onChooseAvatar($event)">
    </div>
  </div>
  <div class="bg-avatar-controls"></div>
</div>
