<mat-dialog-content>
  <div class="container">
    <button class="close-btn" (click)="closeModal()"></button>
    <div class="logo">
      <img [height]="44" src="../../assets/images/logo.png" >
      <p class="">Login to see more</p>
    </div>

    <form [formGroup]="loginForm" >
      <div class="wrap-outer">
        <div class="container-inner">
          <label for="email">Email</label>
          <div class="input-container">
            <div class="email-icon"></div>
            <input type="email" id="email" placeholder="Enter your email here" formControlName = "email" required>
          </div>
        </div>

        <div class="container-inner">
          <label for="password">Password</label>
          <div class="input-container">
            <div class="password-icon"></div>
            <input type="password" id="password" placeholder="Enter your password here" formControlName = "password" required>
          </div>
        </div>

        <span class="error">{{auth.loginError}}</span>
        <div class="container-inner">
          <button type="submit" (click)="onSubmit()">Login</button>
        </div>

        <div class="container-inner forgot-password">
          <p class="forgot-password-info">
            Forgot password? <a (click)="openForgotPasswordModal()">Click Here</a>
          </p>
        </div>
        <hr class="hr-text" data-content="or">
        <div class="inline-social social">
          <p>Login with social networks</p>

          <app-social-buttons></app-social-buttons>

          <p>New here?
            <a class="sign-up-link" (click)="openSignup()">Sign up</a>
          </p>
        </div>
      </div>
    </form>

  </div>
</mat-dialog-content>
