.logo p {
  color: #4a4a4a;
  font-weight: 600;
  margin-top: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.error {
  display: block;
  max-width: 300px;
  font-size: 0.8rem;
  margin: 0.5rem 0;
  text-align: center;
  color: red

}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: #818078;
}

.container * {
  box-sizing: border-box;
}

.wrap-outer {
  max-width: 500px;
  margin: 0 auto;
}

.wrap-outer .container-inner,
.flex-inner {
  display: flex;
  flex-direction: column;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.wrap-outer > .container-inner {
  margin-bottom: 10px;
}

.container-inner label,
.container-inner p {
  padding: 2px;
  font-weight: 300;
}

.wrap-outer > .container-inner > label,
.wrap-outer .container-inner p {
  max-width: 220px;
  color: #545454;
}

.container-inner p {
  margin: 0;
}

.container-inner.forgot-password {
  justify-content: center;
  cursor: pointer;
}

.container-inner.forgot-password a {
  font-size: 13px;
  color: #4a4a4a;
  font-weight: bold;
}

.container-inner.forgot-password .forgot-password-info {
  font-size: 13px;
  text-align: center;
}
.container-inner input {
  padding: 15px;
  padding-left: 5px;
  height: 30px;
  border: none;
  outline: none;
  width: 78%;
}

.input-container {
  display: flex;
  border: 1px solid #00919a;
  border-radius: 5px;
}

.email-icon {
  background: url(../../../../../assets/images/email_icon.png) no-repeat center;
  width: 32px;
  height: 32px;
  background-size: 50%;
  margin-left: 6px;
}

.password-icon {
  background: url(../../../../../assets/images/key.png) no-repeat center;
  width: 32px;
  height: 32px;
  background-size: 45%;
  margin-left: 6px;
}

.container-inner button {
  padding: 8px 16px;
  background: #00919a;
  color: #f2f2f2;
  border: 1px solid #00919a;
  border-radius: 5px;
  max-width: 318px;
  font-size: 16px;
}

.wrap-inner {
  width: 100px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text:before {
  content: '';
  background: #4a4a4a;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #4a4a4a;
  background-color: #fcfcfa;
}

.inline-social.social {
  justify-content: center;
  color: #4a4a4a;
  flex-direction: column;
}

.wrap-outer .inline-social.social p:first-child {
  font-weight: 600;
}

.wrap-outer .inline-social.social a:last-child {
  color: #00919a;
}

.inline-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sign-up-link {
  cursor: pointer;
}

.close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4%;
  right: -5%;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.close-btn:focus {
  border: none;
  outline: none;
}

.close-btn:before,
.close-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 23px;
  background-color: #00919a;
}

.close-btn:before {
  transform: rotate(-45deg);
}

.close-btn:after {
  transform: rotate(45deg);
}
