.privacy {
  padding: 2rem 4rem;
  color: #333;
  font-weight: 500;
}

.privacy.is-desktop {
  margin-top: 0;
}
.privacy.is-mobile {
  margin-top: 0;
  padding: 2rem;
}

.privacy__title {
  margin: 0 0 30px 0;
}

.privacy__title--h1 {
  font-size: 30px;
}

.privacy__title--h2 {
  font-size: 24px;
}

.privacy__title--h3 {
  font-size: 20px;
}

.privacy__title--h4 {
  font-size: 16px;
}

.privacy__text {
  margin: 0 0 30px 0;
  color: #333;
}


.privacy__list {
  margin: 0 0 30px 0;
  padding: 0;
}

.privacy__link {
  color: #000;
}

.privacy__link:hover {
  color: #0000ff;
}

/*  COMMON  */

.w--500 {
  font-weight: 500;
}
