<div class="main">
  <!--  <app-video class="video-container" *ngIf="isDesktop"></app-video>-->

  <div class="main-container"
       [ngClass]="{'main-container--sm': isWindHeightSmall, 'isMobile': !isDesktop}">

    <div
      class="form-container"
      [ngClass]="{'form-container--sm': isWindHeightSmall}">

      <div class="back-arrow-wrapper">
        <div class="back-arrow" (click)="goBack()"></div>
      </div>


      <div class="btn-wrapper">
        <app-login-button [isMobile]="!isDesktop"></app-login-button>
      </div>


      <img
        class="logo"
        [ngClass]="{'logo--sm': isWindHeightSmall}"
        src="../../../../assets/images/logo.png"
      >
      <app-search-form
        class="search"
        [isInteractive]="true"
        [showChips]="true"
      >
      </app-search-form>
    </div>
  </div>

</div>


