*, *:before, *::after {
  box-sizing: border-box;
}

.main {
  background-image: url('../../../../assets/images/layout.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  flex-direction: column;
  -webkit-box-shadow: inset 10px 23px 64px -41px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 23px 64px -41px rgba(0,0,0,0.75);
  box-shadow: inset 10px 23px 64px -41px rgba(0,0,0,0.75);
  overflow: hidden;
}

.video-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.btn-wrapper {
  position: absolute;
  top: -100px;
  right: 10vw;
  z-index: 1;
}


.form-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2%;
}

.logo {
  width: 45%;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: -10%;
  align-items: flex-start;
  width: 100%;
}

.main-container.isMobile {
  margin-top: 10px;
}

.search {
  width: 85%;
  bottom: 120px;
  transition: 0.4s;
  margin-top: 75px;
}

.back-arrow-wrapper {
  position: absolute;
  top: -100px;
  left: 10vw;
  z-index: 1;
}

.back-arrow-wrapper .back-arrow {
  width: 20px;
  height: 20px;
  border-left: 2px solid #00919a;
  border-bottom: 2px solid #00919a;
  transform: rotate(45deg);
  cursor: pointer;
}



@media only screen and (max-width: 1572px) {

  .logo {
    width: 60%;
  }

  .search {
    padding: 20px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {

  .search {
    padding: 10px 0;
  }

  .logo {
    margin-bottom: 0;
    margin-top: 10%;
  }

  .main {
    background-image: url('../../../../assets/images/layout.jpg');
  }
  .btn-wrapper {
    top: 0px;
  }
}

@media screen and (max-width: 668px) {

  .btn-wrapper ,
  .back-arrow-wrapper{
    top: 0px;
  }
}


@media screen and (max-width: 360px) {

  .btn-wrapper {
    top: 20px;
  }
}

@media only screen and (max-width: 415px) {
  .search {
    width: 90%;
  }

  .logo {
    width: 70%;
    margin-top: 20%;
  }
}

/*  For devices with small height */

.logo--sm {
  width: 90%;
}

.main-container--sm {
  align-items: flex-start;
  justify-content: flex-start;
}

.form-container--sm {
  width: 10%;
  margin: 1rem;
}
