<div class="event-types-wrapper">
  <ul class="booking-events-types section-list">
    <li *ngFor="let section of sections; index as key">
            <span
              class="section-title"
              [style.backgroundColor]="section.color"
            ></span>
      {{section.title}}</li>
  </ul>
</div>
