*, *:before, *::after{
  box-sizing: border-box;
}


.event-types-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.booking-events-types li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 0;
  font-size: 14px;
}

.section-list {
  flex-wrap: wrap;
  padding: initial;
  margin-bottom: 20px;
  width: 65%;
  margin-left: 2%;
  display: flex;
  list-style-type: none;
}

.section-title {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}


@media only screen and (max-width: 768px) {

  .section-list {
    width: 100%;
  }

}

