
.close-cross {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.close-cross:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #00919a;
  transform: rotate(-45deg);
  top: 5px;
  left: 5px;
}

.close-cross:before {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #00919a;
  transform: rotate(45deg);
  top: 5px;
  left: 5px;
}

.event-type {
  display: inline-block;
  width: 70%
}

h3 {
  color: #646464;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18pt;
}

.information-event div h3 {
  color: #00919a;
  font-size: 18px;
  font-weight: 500;
}


h4 {
  margin-top: 2%;
  margin-bottom: 1%;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-size: 16pt;
}

span h4 {
  color: #646464;
  font-size: 14pt;
  display: contents;
}

h5 {
  display: contents;
  font-size: 13pt;
}

.modal-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.information-event-container {
  width: 50%;
}

.picture {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 77%;
}

.information-event {
  padding-left: 3%;
  padding-top: 1%;
}

.information-event > div {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 12pt;
  color: #6d6d6d;
  font-weight: 300;
  margin-bottom: 10px;
}

.information-event > div span {
  display: inline-block;
  margin: 0 1% 1px 0;
}

.information-event h4 {
  font-size: 15pt;
}

.dateStyle h4 {
  font-size: 14pt;
}

.dateStyle span {
  color: black;
  font-size: 14px;
}

.summary-payment-container {
  border-left: 1px solid gray;
  position: relative;
  width: 50%;
  padding: 0 0 20px 0;
}

.width-100 {
  width: 100%;
}

.receipt-summary-container {
  padding: 20px 8% 0 8%;
  border-radius: 0 10px 0 0;
  background: #f6f6f6;
}

.receipt-summary-container h3 {
  color: #000000;
  font-size: 16pt;
}

.total-container {
  display: flex;
  justify-content: space-between;
  padding: 3% 0;
}

.total-container h3 {
  color: #00919a;
  font-size: 16px;
}

.pos-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.summ-price h4 {
  font-size: 14pt;
  color: #505050;
  font-weight: initial;
}

.summ-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3%;
  margin-bottom: 3%;
}

.receipt-list > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 0;
  font-weight: 200;
  color: #949494;
}

.receipt-list {
  width: 100%;
  font-size: 14px;
}

.payment-information-container {
  padding: 2% 8% 0 8%;
}

.payment-information-container h3 {
  color: #000000;
  font-size: 16pt;
}

.name-cards-container, .card-number-container, .card-date-valid-container, .cvc-container {
  display: flex;
  flex-direction: column;
}

.cvc-container input {
  width: 45%;
}

.input-date {
  display: flex;
  justify-content: space-between;
}

.input-date input {
  width: 45%;
}

input {
  border-radius: 5px;
  border: 1px solid #00919a;
  background: #ffffff;
  height: 30px;
  outline: none;
  padding-left: 10px;
}

label {
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 1%;
  font-size: 11pt;
  color: #949494;
  display: flex;
  align-items: center;
}

label > img {
  width: 18px;
  margin-left: 5px;
  filter: opacity(0.4) drop-shadow(0 0 0 lightgray);
}

input {
  padding-left: 2%;
}
::-webkit-input-placeholder {
  font-family: 'HelveticaNeue', sans-serif;
  font-style: italic;
  font-size: 12px;

}
::-moz-placeholder {
  font-family: 'HelveticaNeue', sans-serif;
  font-style: italic;
  font-size: 12px;

}

:-moz-placeholder {
  font-family: 'HelveticaNeue', sans-serif;
  font-style: italic;
  font-size: 12px;

}

:-ms-input-placeholder {
  font-family: 'HelveticaNeue', sans-serif;
  font-style: italic;
  font-size: 12px;
}

.btns-modal {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
}

button {
  background: #00919a;
  padding: 8px 0;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 12pt;
  border-radius: 6px;
  color: #ffffff;
  width: 48%;
  border: 0;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}

button:disabled {
  opacity: 0.6;
  cursor: initial;
}

#cancel {
  background: white;
  color: #00919a;
  border: 1px solid #00919a;
}




@media only screen and (max-width: 700px) {
  .summary-payment-container {
    width: 100%;
  }

  .information-event {
    padding: 2% 8%;
  }

  .receipt-list {
    font-size: 14px;
  }

  .total-container h3 {
    font-size: 14px;
  }

  .receipt-summary-container h3, .information-event h4, .payment-information-container h3 {
    font-size: 16px;
  }

  .total-container {
    padding: 20px 0;
  }

  label {
    margin-top: 1%;
  }

  .name-cards-container, .card-number-container, .card-date-valid-container, .cvc-container {
    margin: 10px 0;
  }

}
