<mat-dialog-content>
  <div class="modal-container">
    <div *ngIf="!data.isMobile" class="information-event-container">
      <div class="picture" [style.backgroundImage]="'url('+baseUrl+search.flightsData.images[0]+')'"></div>
      <div class="information-event">
        <h4 >{{hotel}}</h4>
        <h4>{{search.flightsData.destinationCityName}}, {{search.flightsData.country}}</h4>
        <div><h3>{{booking.totalSum}}$ </h3><span> / {{data.numberOfDays}} days</span></div>
        <div class="dateStyle"><span>{{data.dateFrom}}</span> <span [style.color]="'black'">to</span> <span>{{data.dateTo}}</span></div>
      </div>
    </div>
    <div class="summary-payment-container" [class.width-100]="data.isMobile">
      <div *ngIf="data.isMobile">
        <div class="information-event">
          <h4 >{{hotel}}</h4>
          <h4>{{search.flightsData.destinationCityName}}, {{search.flightsData.country}}</h4>
          <div><h3>{{booking.totalSum}}$ </h3><span> / {{data.numberOfDays}} days</span></div>
          <div class="dateStyle">
            <span>{{data.dateFrom}}</span>
            <span>to</span>
            <span>{{data.dateTo}}</span>
          </div>
        </div>
      </div>
      <span class="close-cross" (click)="onCancelClick()"></span>
      <div class="receipt-summary-container">
        <h3>Receipt summary</h3>
        <div class="pos-container">
          <div class="receipt-list">
            <div>
              <span class="event-type">Flight price</span>
              <span>{{booking.flightPrice}} $</span>
            </div>
            <div *ngIf="booking.receiptList[1].quantity">
              <span class="event-type">{{booking.receiptList[1].quantity}}x Accomodations</span>
              <span>{{booking.receiptList[1].quantity * booking.receiptList[1].price}} $</span>
            </div>
            <div *ngIf="booking.receiptList[2].quantity">
              <span class="event-type">{{booking.receiptList[2].quantity}}x Restaurants</span>
              <span>{{booking.receiptList[2].quantity * booking.receiptList[2].price}} $</span>
            </div>
            <div *ngIf="booking.receiptList[3].quantity">
              <span class="event-type">{{booking.receiptList[3].quantity}}x Shopping malls</span>
              <span>{{booking.receiptList[3].quantity * booking.receiptList[3].price}} $</span>
            </div>
            <div *ngIf="booking.receiptList[4].quantity">
              <span class="event-type">{{booking.receiptList[4].quantity}}x Landmarks</span>
              <span>{{booking.receiptList[4].quantity * booking.receiptList[4].price}} $</span>
            </div>
            <div *ngIf="booking.receiptList[5].quantity">
              <span class="event-type">{{booking.receiptList[5].quantity}}x Events</span>
              <span>{{booking.receiptList[5].quantity * booking.receiptList[5].price}} $</span>
            </div>
          </div>

        </div>
        <div class="total-container">
          <h3>TOTAL</h3>
          <h3>{{booking.totalSum}} $</h3>
        </div>
      </div>
      <div class="payment-information-container">
        <h3>Payment information</h3>
        <div class="form-container-modal">
          <form [formGroup]="paymentForm">
            <div class="name-cards-container">
              <label for="nameCreditCard">Name on credit card</label>
              <input
                type="text"
                id="nameCreditCard"
                placeholder="Jackob Geib"
                formControlName="nameCreditCard"
                [style.borderColor]="!nameCreditCardValid && submitButtonClicked ? 'red': '#00919a'"
                required
              >
            </div>
            <div class="card-number-container">
              <label for="cardNumber">Credit Card Number</label>
              <input
                type="text"
                id="cardNumber"
                placeholder="xxxx xxxx xxxx xxxx"
                formControlName="cardNumber"
                [style.borderColor]="!creditCardValid && submitButtonClicked ? 'red': '#00919a'"
                required
              >
            </div>
            <div class="card-date-valid-container">
              <label for="dateValidCard">Expiry date (MM YYYY)</label>
              <div class="input-date">
                <input
                  id="dateValidCard"
                  placeholder="MM"
                  formControlName="dateMonth"
                  [style.borderColor]="!expiryDateMonthValid && submitButtonClicked ? 'red': '#00919a'"
                  required
                >
                <input
                  type="text"
                  placeholder="YYYY"
                  formControlName="dateYear"
                  [style.borderColor]="!expiryDateYearValid && submitButtonClicked ? 'red': '#00919a'"
                  required
                >
              </div>
            </div>
            <div class="cvc-container">
              <label for="cvcCode">CVC <img src="../../../../assets/images/explanation.png" alt=""></label>
              <input
                id="cvcCode"
                formControlName="cvcCode"
                [style.borderColor]="!numberCvcValid && submitButtonClicked ? 'red': '#00919a'"
                required
              >
            </div>
            <div class="btns-modal">
              <button id="pay" (click)="onSubmitForm()">Pay</button>
              <button id="cancel" (click)="onCancelClick()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
