<div *ngIf="items">
  <div class="header-rest">
    <div>
      <div class="header-rest-container">
        <div class="title-block">
          <h3 class="title">{{cityPlace.title}}</h3>
        </div>
        <div class="search-block">
          <app-input-search-by-text
            class="input-search-by-text"
            [cityId]="cityId"
            [cityPlace]="cityPlace"
            [max]="maxSearchItems"
            [placesOfTheSameType]="items"
            [isMobile]="isMobile"
            [queryParams]="queryParams"
          >
          </app-input-search-by-text>
          <app-select-sort-by
            *ngIf="listOfNamesToSort"
            class="select-sort-by"
            [cityId]="cityId"
            [cityPlace]="cityPlace"
            [queryParams]="queryParams"
            [listOfNamesToSort]="listOfNamesToSort"
            [max]="maxSortItems"
            (setData)="setDataItems($event)"
          >
          </app-select-sort-by>
        </div>
      </div>

    </div>
    <app-swiper-of-city-cards
      [section]="cityPlace.title"
      [data]="items"
      [cityPlaceData]="cityPlace.data"
      [index]="index"
      [cityId]="cityId"
    >
    </app-swiper-of-city-cards>
  </div>
</div>
