.header-rest {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 19px;
  color: black;
  margin-bottom: 5%;
}

.header-rest-container {
  display: flex;
  margin-left: 10vw;

  width: calc(100% - 20vw);
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.title-block {
  display: flex;
  margin-top: 10px;
}

.img-title {
  width: 40px;
  height: 40px;
}

.title {
  margin: 0;
  padding-top: 19px;
  padding-left: 1%;
  text-transform: uppercase;
  font-weight: 500;

}

.search-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}


.input-search-by-text {
  min-width: 230px;
  width: 230px;
  margin-top: 10px;
  margin-left: 10px;
}
.select-sort-by {
  min-width: 280px;
  width: 280px;
  margin-top: 10px;
  margin-left: 10px;
}

@media screen and (min-width: 650px) and (max-width: 959px) {
  .search-block {
    width: 100%;
  }
  .input-search-by-text {
    min-width: 230px;
    width: calc(100% - 290px);
    margin-left: 0;
  }
  .select-sort-by {
    min-width: 280px;
    width: 280px;
    margin-left: 0;
  }
}
@media screen and (max-width: 649px) {
  .search-block {
    width: 100%;
  }
  .input-search-by-text {
    width: 100%;
    margin-left: 0;
  }
  .select-sort-by {
    min-width: 250px;
    width: 100%;
    margin-left: 0;
  }
}



/*Под вопросом нужен ли класс*/
.card-row {
  display: flex;
  justify-content: space-between;
}

