<div id="root-wrapper">
    <app-header *ngIf="!hiddenHeader"></app-header>
    <router-outlet class="router" (activate)="onActivate($event)"></router-outlet>
    <button class="footer-toggle" (click)="toggleFooter()">{{footerToggleBtnText}}</button>
    <app-footer
      class="footer"
      [ngClass]="{ 'active-footer' : !hiddenFooter }"
    ></app-footer>
</div>


