#root-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
  transform: translateY(1000px);
  transition: all 0.7s cubic-bezier(0.94, 0.06, 0.94, 0.06)
}

.active-footer {
  transform: translateY(0);
  transition: all 0.5s cubic-bezier(0.21, 0.84, 0.5, 0.96)
}

.footer-toggle {
  outline: none;
  border: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s;
  -webkit-box-shadow: -15px 6px 19px -8px rgba(56,52,56,1);
  -moz-box-shadow: -15px 6px 19px -8px rgba(56,52,56,1);
  box-shadow: -15px 6px 19px -8px rgba(56,52,56,1);
}

.footer-toggle:active {
  transform: scale(0.9);
}
