<fieldset class="rating">
  <input type="radio" value="5" [checked]="rating===5"/>
  <label title="Rocks!" [ngClass]="isAddTextShadow ? 'shadow' : ''"></label>

  <input type="radio" value="4" [checked]="rating===4" />
  <label title="Pretty good" [ngClass]="isAddTextShadow ? 'shadow' : ''"></label>

  <input type="radio" value="3" [checked]="rating===3" />
  <label title="Meh" [ngClass]="isAddTextShadow ? 'shadow' : ''"></label>

  <input type="radio" value="2" [checked]="rating===2" />
  <label title="Kinda bad" [ngClass]="isAddTextShadow ? 'shadow' : ''"></label>

  <input type="radio" value="1" [checked]="rating===1" />
  <label title="Sucks big time" [ngClass]="isAddTextShadow ? 'shadow' : ''"></label>
</fieldset>
