.rating {
  border: none;
  padding: 0;
  margin: 3px 5px;
  display: inline-block;
}

.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 80%;
  line-height: 1.0;
  color: #ddd;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating:not(:checked) > label.shadow:before {
  text-shadow: 1px 1px 1px #000;
}

.rating > input:checked ~ label {
  color: #ea0;
}

@media only screen and (max-width: 700px) {
  .rating {
    margin: 0 5px;
  }
}
