<div
  class="history-item-wrapper"
  [@showItem]="hiddenState ? 'hidden' : 'shown'"
>
  <div
    class="history-item-image"
    [style.backgroundImage]="(data.detailsList.length > 0 && data.detailsList[0].image !== 'null') ? 'url('+ baseUrl + data.images[0] +')' : 'url('+ defaultImg +')'"
    (mouseenter)="historyItem.toggleOpacity(1)"
    (mouseleave)="historyItem.toggleOpacity(0)"
    (click)="goToTripDetails(data.id)"
  >
    <div class="hovered-trip-info" [style.display]="!isMobile ? 'flex' : 'none'"  appHistoryItem #historyItem="historyItem" >
      <div class="flex">
        <div class="flex-item">
          <span>{{data?.dateTo}}</span>
          <span *ngIf="data.detailsList.length > 0 && data.destinationCity === 'null'">Place name</span>
          <span *ngIf="data.detailsList.length > 0">{{data.destinationCity}}</span>
        </div>
        <div class="flex-item">
          <div class="btn-wrapper">
            <button
              class="btn-preview"
              *ngIf="data.status !== 'pending'"
              (click)="onClickPreview($event, data)"
            >
              Preview
            </button>
          </div>
          <div
            class="share-icon-wrapper"
            (click)="onCopyLink(data.id, $event)"
          >
            <img [src]="shareIcon">
          </div>
        </div>
      </div>
      <span>{{data.price}} $</span>
    </div>
  </div>
  <div
    class="history-item-info"
    [style.order]="index % 2 === 0 ? 1 : -1"
    [style.alignItems]="index % 2 === 0 || isMobile ? 'flex-start' : 'flex-end'"
  >
    <div *ngIf="!isMobile" class="history-item-title">Booking time</div>
    <span *ngIf="!isMobile">{{data?.dateTo}}</span>
    <span *ngIf="!isMobile">{{data?.dateFrom}}</span>
    <span *ngIf="isMobile" class="mobile-place-name">{{data?.destinationCity}}</span>
    <span *ngIf="isMobile" [style.font-size.px] = '13'>{{data?.dateTo}} - {{data?.dateFrom}} </span>
    <span *ngIf="isMobile">{{data?.price}} $</span>
    <div class="history-item-title">
      Trip
      <span
        class="trip-state"
        [style.color]="data.status === 'done' ? 'gray' : data.status === 'active' ? '#00919a' :' #FFB300'"
      >{{data?.status}}</span>
    </div>
  </div>
</div>
