
.history-item-wrapper {
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px)
}

.history-item-info {
  display: flex;
  flex-direction: column;
  width: calc(50% - 40px);
  margin: 20px;
  justify-content: center;
}

.history-item-title {
  font-weight: bold;
}

.history-item-image {
  height: 90px;
  border-radius: 5px;
  width: calc(50% - 40px);
  margin: 20px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.trip-state {
  font-weight: 200;
}

.hovered-trip-info {
  position: absolute;
  padding:0 10px;
  /* padding-left: 10px; */
  /* width: calc(100% - 10px); */
  width: calc(100% - 20px);
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  display: flex;
  flex-direction: column;
}

.btn-wrapper {
  margin-bottom: 10px;
}

.btn-preview {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  font-size: 1rem;
  padding: 0;
  position: relative;
}

.btn-preview:after{
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}

.btn-preview:hover:after {
  width: 100%;
}

.share-icon-wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.share-icon-wrapper img {
  height: 20px;
}

.mobile-place-name {
  font-weight: bold;
  color: #00919a;
}

.share-menu {
  z-index: 5;
}

@media only screen and (max-width: 700px) {


}

