<div class="review-item comment" *ngFor="let item of review?.comments">
  <div class="review-avatar" [style.backgroundImage]=" (item.avatar) ? 'url('+ baseUrl + item.avatar+')' : 'url('+ commentAvatar +')'"></div>
  <div class="review-info">
    <div class="rating-wrapper">
      <span class="rating-value">{{item?.mark}}</span>
      <app-immutable-rating [rating]="item?.mark"></app-immutable-rating>
    </div>
    <span class="review-text">{{item?.text}}</span>
    <span class="review-text">{{item?.name}}</span>
    <div class="likes-controls-wrapper">

      <img *ngIf="item.voteLike" src="../../../../../assets/images/active-review-like.png" (click)="likeComment(item.id)">
      <img *ngIf="!item.voteLike" src="../../../../../assets/images/like-review.png" (click)="likeComment(item.id)">

      <span [style.color]="item.voteLike ? '#ea0' : 'gray'">{{item?.likeCounter}}</span>

      <img *ngIf="item.voteDislike" class="active-dislike-review" src="../../../../../assets/images/dislike-aktive.png" (click)="dislikeComment(item.id)">
      <img *ngIf="!item.voteDislike" class="dislike-review" src="../../../../../assets/images/like-review.png"  (click)="dislikeComment(item.id)">

      <span [style.color]="item.voteDislike ? '#d75a4a' : 'gray'">{{item?.dislikeCounter}}</span>
    </div>
  </div>
</div>
