<div class="social-icons">
  <a (click)="signInWithFB()">
    <img class="img_pad" [width]="36" [height]="36" src="../../../../../assets/images/facebook_icon.png" >
  </a>
  <a (click)="signInWithGoogle()">
    <img [width]="36" [height]="36" src="../../../../../assets/images/google-icon.png" >
  </a>
</div>
