.logo p:last-child {
  color: #4a4a4a;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom:10px;
  font-weight: lighter;
}
.logo p {
  color: #4a4a4a;
  font-weight: 600;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom:0px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: #818078;
}

.container * {
  box-sizing: border-box;
}

.wrap-outer {
  max-width: 500px;
  margin: 0 auto;
}

.wrap-outer .container-inner,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.wrap-outer > .container-inner{
  margin-bottom: 10px;
}

.container-inner label,
.container-inner p {
  padding: 2px;
  font-weight: 300;
}

.wrap-outer > .container-inner > label,
.wrap-outer .container-inner p {
  width: 100%;
  color: #545454;
}

.container-inner p {
  margin: 0;
}

.container-inner input {
  padding: 15px;
  padding-left: 5px;
  height: 30px;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background: none;
}

.input-container {
  display: flex;
  border: 1px solid #00919a;
  border-radius: 5px;
  width: 100%;
}

.email-icon{
  background: url(../../../../../assets/images/email_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-size: 50%;
  margin-left: 6px;
}

.container-inner button {
  padding: 8px 16px;
  background: #00919a;
  color: #f2f2f2;
  border: 1px solid #00919a;
  border-radius: 5px;
  flex: 1 0 120px;
  max-width: 318px;
  font-size: 16px;
}

.flex-inner .container-inner {
  width: 100px;
}


.container .close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6%;
  right: -5%;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.close-btn:focus {
  border: none;
  outline: none;
}

.close-btn:before,
.close-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  height: 1px;
  width: 23px;
  background-color: #00919a;
}

.close-btn:before {
  transform: rotate(-45deg);
}

.close-btn:after {
  transform: rotate(45deg);
}
