<div class="container">
  <button class="close-btn" (click)="closeModal()"></button>
  <div class="logo">
    <img height="44px" src="../../assets/images/logo.png" >
    <p class="">Forgot password?</p>
  </div>
  <form [formGroup]="emailForm">
    <div class="wrap-outer">
      <div class="container-inner">
        <label for="email">Email</label>
        <div class="input-container">
          <div class="email-icon"></div>
          <input type="email" id="email" formControlName = "email" placeholder="Enter your email here">
        </div>
      </div>
      <div class="container-inner">
        <button type="submit" (click)="sendEmail()">Send</button>
      </div>
    </div>
  </form>
</div>
