
.footer {
  background: #1d3f70;
  color: #ffffff;
  font-size: 14px;
}

.footer-items-wrapper {
  position: relative;
  display: flex;
  /* border-bottom: 1px solid gray; */
  padding: 10px 10vw;
}

.footer-items-wrapper::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
}

.footer-logo-wrapper {
  width: 35%;
}

.footer-columns-wrapper {
  width: 65%;
}

.footer-logo-wrapper img {
  width: 260px;
}

.footer-columns-wrapper {
  display: flex;
  justify-content: flex-end;
}

.footer-columns-wrapper ul {
  list-style-type: none;
}

.footer-columns-wrapper ul li {
  padding: 2px 0;
}

.footer-column-title {
  margin-bottom: 20px;
  font-size: 16px;
}

.footer-social-icons {
  display: flex;
}

.footer-social-icons img {
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.footer-copy {
  padding: 10px 10vw;
}

.footer__link {
  color: #ffffff;
}

.footer__link:hover {
  color: #0000ff;
}

@media only screen and (max-width: 1240px) {
/*
  .footer-logo-wrapper{
    width: 30%;
  }

  .footer-columns-wrapper {
    width: 70%;
  } */

  .footer-logo-wrapper>img{
    margin-top: .5rem;
  }

  .footer-columns-wrapper>ul {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .footer-logo-wrapper img {
    width: 200px;
}
}

@media only screen and (max-width: 700px) {

  .footer {
    height: 100vh;
  }

  .footer-items-wrapper {
    flex-direction: column;
  }

  .footer-columns-wrapper {
    flex-direction: column;
  }

  .footer-items-wrapper > div {
    width: 100%;
  }

  .footer-contacts-column {
    order: -1;
  }

  .footer-columns-wrapper ul li {
    padding: 5px 0;
  }

  .footer-columns-wrapper ul {
    padding-left: 0;
  }


}
