<div class="footer">
  <div class="footer-items-wrapper">
    <div class="footer-logo-wrapper">
      <img src="../../../../assets/images/logoWhite.png">
    </div>
    <div class="footer-columns-wrapper">
      <ul>
        <li *ngIf="!isMobile" class="footer-column-title">About</li>
        <li>About Gmooh.app</li>
        <li>Terms of Use</li>
        <li><a class="footer__link" routerLink="privacy">Privacy Statement</a></li>
      </ul>
      <ul class="footer-contacts-column">
        <li *ngIf="!isMobile" class="footer-column-title">Contact Us</li>
        <li>Gmooh Inc.</li>
        <li>212-8711 50 Street NW Edmonton, Alberta T6B 1E7 Canada</li>
        <li>
          <a class="footer__link" href="tel:+1-202-555-0167">+1-202-555-0167</a>
        </li>
        <li>
          <a class="footer__link" href="mailto:support@gmooh.app">support@gmooh.app</a>
        </li>
        <li class="footer-social-icons">
          <a href="http://facebook.com/justgmooh" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/images/facebook_icon.png">
          </a>
          <a href="http://instagram.com/gmooh.app" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/images/instagram_icon.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copy">
    <span>Copyright © 2019 Gmooh.app.</span>
  </div>
</div>
