
.rating {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 130%;
  line-height: 1.0;
  color: #ddd;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked ~ label {
  color: #ea0;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}

