<section class="sort-list-section">
  <span class="title">Sort by</span>
    <div class="sort-list-block">

        <mat-select class="item item-selected" [value]="activeItem?.name">
          <mat-option
            (click)="sortData(item)"
            *ngFor="let item of listOfNamesToSort"
            [value]="item.name"
          >
            {{item.name}}
          </mat-option>
        </mat-select>

    </div>
</section>
