.sort-list-section {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  min-height: 36px;
  position: relative;
}

.title {
  color: #00919a;
  min-width: 80px;
  display: flex;
  align-self: center;
  font-size: 18px;
}

.sort-list-block {
  width: calc(100% - 80px);
  position: relative;
}

.item {
  padding: 8px 10px;
  border-top: 1px solid #9b9b9b;
  color: #4a4a4a;
  background-color: white;
  width: calc(100% - 20px);
  cursor: pointer;
}

.sort-option:hover {
  color: #00919a;
}

.item-selected {
  border: 1px solid #9b9b9b;
  border-radius: 8px;
  width: calc(100% - 22px);
  position: relative;
  color: #9b9b9b;
  cursor: pointer;
}

.del-border-radius-bottom {
  border-radius: 8px 8px 0 0 !important;
}

.text-item-active {
  width: 100%;
  display: block;
  min-height: 18px;
  position: relative;
  border: none;
  outline: none;
  background: none;
}

.sort-list {
  position: absolute;
  top: 35px;

  border: 1px solid #9b9b9b;
  border-radius: 0 0 8px 8px;
  width: calc(100% - 2px);
  z-index: 2;
}

.first-item {
  border-top: none !important;
}

.last-item {
  border-radius: 0 0 8px 8px;
}

.hidden-block {
  display: none;
}

.show-block {
  display: block;
}
