*, *:before, *::after{
  box-sizing: border-box;
}
.name-city {
  display: flex;
  justify-content: space-between;
  padding: 1% 10%;
  box-shadow: inset 10px 23px 64px -41px rgba(0, 0, 0, 0.6);
}

.name-city-container {
  color: gray;
}

.name-city-container a , h3 {
  font-family: 'HelveticaNeue', sans-serif;
  font-size:25px;
}

.name-city-container a {
  color: #00919a;
  font-weight: bolder;
}

.name-city-container b {
  color: black;

}

.img-container, .mobile-img-container {
  display: flex;
}

.img-container > div {
  display: flex;
  width: 33.3%;
  height: 300px;
  -webkit-background-size: cover;
  background-position: center;
  background-size: cover;
  margin-bottom: 3%;
}

.mobile-img-container > div {
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  background-position: center;
  background-size: cover;
  margin-bottom: 3%;
}

.main-container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.text-city-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.content-container {
  display: flex;
  margin-bottom: 2%;
}

.geo-map {
  width: 100%;
  height: 350px;
  float: right;
  margin: 20px 0;
}

.info-container {
  display: flex;
  justify-content: space-between;

}
.info-container .city-title {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 22px;
  text-align: center;
  width: 30%;
  margin: 0;
}

.show-more a {
  color: #00919a;
  font-family: 'Maven Pro', fantasy;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.info-container .description {
  font-family: 'HelveticaNeue-Light', sans-serif;
  font-size: 14px;
  color: #484848;
  font-weight: normal;
  width: 70%;
  margin: 0;
  line-height: 1.2;
}


.name-cards {
  display: flex;
  flex-direction: column;
}

.img-card {
  border-radius: 10px 10px 0 0;
  width: 21%;
  height: 200px;
  -webkit-background-size: cover;
  background-size: cover;
}


.card-body {
  border: 1px solid gray;
  border-radius: 0 0 10px 10px;
  position: relative;
  top: 100%;
  padding-left: 2%;
}

.card-body p {
  margin-top: 2%;
}

.card-text {
  margin-bottom: 2%;
}

.card-row button {
  background: none;
  border: none;
}

.buy-trash {
  width: 50px;
  cursor: pointer;
}

.p--reset {
  padding-top: 0;
}

.show-more {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 700px) {
  .main-container {
    margin: 0 5vw;
  }

  .info-container {
    display: flex;
    flex-direction: column;
  }

  .info-container .description {
    width: 100%;
  }
}
