<div #city></div>
<div class="container" *ngIf="!isSearching" [ngClass]="{'p--reset': !window.isDesktop}">
  <header>
    <div class="name-city">
      <div class="name-city-container">
        <a>{{recommendationBlock}}</a>
        <h3><b>{{cityData.cityInfo?.address.split(',')[0]}}</b>
          <span *ngIf="cityData.cityInfo?.address.split(',')[1]"><b>, </b>{{cityData.cityInfo?.address.split(',')[1]}}</span>
        </h3>
      </div>
    </div>
    <div class="img-container" *ngIf="window.isDesktop">
      <div *ngFor="let img of [1, 2, 3]; index as i;"
           [style.backgroundImage]="'url('+baseUrl+cityData.cityInfo?.images[i]+')'"></div>
    </div>
    <div class="mobile-img-container" *ngIf="!window.isDesktop">
      <div [style.backgroundImage]="'url('+baseUrl+cityData.cityInfo?.images[0]+')'"></div>
    </div>
  </header>

  <main>
    <div class="main-container">
      <div class="content-container">
        <div class="text-city-container">

          <div class="info-container" >
            <h4 class="city-title">{{cityData?.cityInfo?.address}}</h4>
            <p
              #description
              class="description" 
              [@panelState]="!descriptionIsOpen ? 'closed' : 'open'"
            >{{cityData?.cityInfo?.description}}</p>
          </div>

          <div class="show-more" *ngIf="!descriptionIsFull">
            <a (click)="toggleText()">{{togglerText}}</a>
          </div>

          <div class="geo-map">
            <app-geo-location-map></app-geo-location-map>
          </div>

        </div>
      </div>
    </div>
    <div class="card-container" *ngFor="let cityPlace of cityPlaces; index as i">
      <app-city-row
        [cityPlace]="cityPlace"
        [cityId]="cityData.cityInfo?.cityInfoId"
        [isMobile]="!window.isDesktop"
        [listOfNamesToSort]="listOfNamesToSort"
        [index]="i"
        [queryParams]="queryParams"
      >
      </app-city-row>
    </div>
  </main>
</div>

<div class="spinner-container" *ngIf="isSearching">
  <app-preloader></app-preloader>
</div>
