<div class="name-city event-city" *ngIf="!isSearching" >
  <div class="name-city-container">
    <span *ngIf="eventData?.type" class="header-type-name">{{eventType}}</span >
  </div>
</div>
<div #eventPage></div>
<div class="container"  *ngIf="!isSearching">
  <main>
    <div class="main-container">

      <div class="img-container" *ngIf="!isEvent && !isMobile">
        <div class="city-images" *ngFor="let img of [1, 2, 3]; index as i;"
             [style.backgroundImage]="'url('+baseUrl+eventData?.images[i]+')'"></div>
      </div>
      <div class="mobile-img-container" *ngIf="!isEvent && isMobile">
        <div class="city-images" [style.backgroundImage]="'url('+baseUrl+eventData?.images[0]+')'"></div>
      </div>
      <div class="img-container" *ngIf="isEvent">
        <div class="event-image" [style.backgroundImage]="'url('+eventData?.image+')'"></div>
      </div>

      <div class="content-container">
        <div class="information-container">
          <div class="information">
            <div class="info-name-wrapper">
              <span class="event-name" >{{eventData?.name}}</span>
              <span *ngIf="eventData?.type" class="type-name">, {{eventType}}</span>
            </div>
            <div *ngIf="!isEvent" class="information-restaurant">
              <div class="evaluation">
                <span style="color:#eeaa00">{{eventData?.rating | roundUp}}</span>
                  <app-immutable-rating [rating]="eventData?.rating"></app-immutable-rating>
                <span>{{eventData?.reviews}} reviews</span>
              </div>
              <div class="style-info">
                <ul>
                  <li>Hours:
                    <span>
                      <b [style.color]="!eventData?.openingHours?.openNow? 'red' : 'green'">
                        {{!eventData?.openingHours?.openNow ? 'Closed' : 'Open'}}
                      </b>
                      {{openHours}}
                    </span></li>
                  <li *ngIf="eventData?.address">Address: <span>{{eventData.address}}</span></li>
                  <li *ngIf="eventData?.phoneNumber">Phone: <span>{{eventData.phoneNumber}}</span></li>
                </ul>
              </div>
            </div>
            <div *ngIf="isEvent" class="information-restaurant">
              <p *ngIf="eventData?.description">{{eventData.description}}</p>
              <ul>
                <li>Category: <span>{{eventData?.categoryName}}</span></li>
                <li *ngIf="eventData?.address">Address: <span>{{eventData.address}}</span></li>
                <li *ngIf="eventData?.phoneNumber">Phone: <span>{{eventData.phoneNumber}}</span></li>
                <li *ngIf="eventData?.startDate">Start: <span>{{eventData.startDate | date:'mm/dd/yyyy'}}</span></li>
                <li *ngIf="eventData?.endDate">End: <span>{{eventData.endDate | date:'mm/dd/yyyy'}}</span></li>
                <li *ngIf="eventData?.websiteLink">Website:
                  <a href={{eventData.websiteLink}} target="_blank">{{eventData?.websiteLink}}</a>
                </li>
              </ul>
            </div>
            <button class="btn-reservation" (click)="bookReservation()">Add to plans</button>

          </div>
          <div class="geo-map">
            <app-geo-location-map></app-geo-location-map>
          </div>
        </div>
      </div>
      <div class="header-rest">
        <h3 *ngIf="eventData?.type">Other {{eventType}}s</h3>
        <app-swiper-of-city-cards
          class="swiper"
          [data]="swipeData"
          [index]="0"
          [section]="eventType"
          [cityId]="queryParams?.cityId"
        >
        </app-swiper-of-city-cards>
      </div>

    </div>
  </main>
</div>

<div class="spinner-container" *ngIf="isSearching">
  <app-preloader></app-preloader>
</div>
