*, *:before, *::after{
  box-sizing: border-box;
}
h3 {
  margin: 0;
}

.container {
  margin: 0;
  min-height: 600px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.name-city {
  display: flex;
  justify-content: space-between;
  padding: 1% 10%;
  font-size: 24px;
  box-shadow: inset 10px 23px 64px -41px rgba(0, 0, 0, 0.6);
}

.event-city {
  box-shadow: inset 10px 23px 64px -41px rgba(0, 0, 0, 0.6);
}

.main-container {
  display: flex;
  flex-direction: column;
}

.header-type-name {
  color: #00919a !important;
  text-transform: uppercase;
  font-weight: bold;
}

.img-container {
  display: flex;
}


.img-container .city-images, .mobile-img-container .city-images {
  width: 33.3%;
  height: 300px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 3%;
}

.mobile-img-container .city-images {
  width: 100%;
}

.img-container .event-image {
  width: 100%;
  height: 600px;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  margin-bottom: 3%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10vw 4% 10vw;
}

.information-container {
  display: flex;
  justify-content: space-around;
  min-height: 400px;
}

.text-info {
  font-family: 'HelveticaNeue', sans-serif;
  font-size:20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.information {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-right: 5%;
}

.information h3 {
  font-family: 'HelveticaNeue', sans-serif;
  font-size:28px;
  font-weight: bolder;
}

.geo-map {
  width: 50%;
  height: auto;
  display: inline-block;
}

.information-restaurant {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.information-restaurant a {
  text-decoration: none;
}

.rate {
  display: flex;
  margin: 0;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 0;
}

.rate:hover .star {
  color: #5949a4;
}

.rate .star {
  margin: 0;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  text-shadow:
    0 1px #00919a,
    0 -1px #00919a,
    1px 0 #00919a,
    -1px 0 #00919a;
}

.rate .star:before {
  content: '\2605';
}

.rate .star:hover ~ .star {
  color: #fff;
}

.evaluation {
  display: flex;
  flex-wrap: nowrap;
}
.evaluation span{
  padding-top: 1%;
  color: gray;
  font-size: 14px;
}
.style-info span{
  padding-top: 1%;
  color: gray;
  font-size: 14px;
}
.information-restaurant span{
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
span b{
  color: red;
  margin-left: 1%;
  margin-right: 1%;
}
.btn-reservation{
  margin-top: 8%;
  background: #00919a;
  opacity: 0.961;
  border-radius: 8px;
  padding: 15px 30px;
  box-shadow: 0 0 6px 4px rgba(255, 247, 247, 0.13);
  font-family: 'HelveticaNeue', sans-serif;
  font-size:20px;
  color: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
}

.header-rest h3 {
  font-family: 'HelveticaNeue', sans-serif;
  font-size:25px;
  font-weight: bolder;
  color: black;
  padding-left: 10vw;
}


.img-card {
  border-radius: 10px 10px 0 0;
  width: 21%;
  height: 200px;
  -webkit-background-size: cover;
  background-size: cover;
}

.card-body {
  border: 1px solid gray;
  border-radius: 0 0 10px 10px;
  position: relative;
  top: 100%;
  padding-left: 2%;
  height: 50px;
}

.card-text {
  margin-bottom: 2%;
}

.card-row button {
  background: none;
  border: none;
}

.info-name-wrapper > .type-name {
  padding-left: 5px;
  font-size: 24px;
}
.info-name-wrapper > .event-name {
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .content-container {
    margin: 0 5vw 4% 5vw;
  }

  .information-container {
   flex-direction: column;
  }

  .information {
    width: 100%;
  }

  .geo-map {
    margin-top: 20px;
    width: 100%;
    height: 300px;
  }
}


