<div class="container">
  <form [formGroup]="form">
    <div class="wrap-outer">
      <div class="wrap-inner">
        <label class="required" for="name">Name</label>
        <input id="name"
               class="input-name"
               type="text"
               placeholder="Enter your name here"
               (blur)="setRegData()"
               formControlName="firstName"
               [style.borderColor]="!form.controls.firstName.valid && submitClicked ? 'red' : '#00919a'">
      </div>
      <div class="error" *ngIf="!form.controls.firstName.valid && submitClicked">
        First {{nameErrorText}}
      </div>
      <div class="wrap-inner">
        <label class="required" for="surname">Surname</label>
        <input id="surname"
               type="text"
               placeholder="Enter your surname"
               (blur)="setRegData()"
               formControlName="lastName"
               [style.borderColor]="!form.controls.lastName.valid && submitClicked ? 'red' : '#00919a'">
      </div>
      <div class="error" *ngIf="!form.controls.lastName.valid && submitClicked">
        Last {{nameErrorText}}
      </div>
      <div class="wrap-inner" (click)="dp.open()">
        <label class="required" for="birthday">Date of birth</label>
        <input id="birthday"
               class="input-birthday"
               [matDatepicker]="dp"
               placeholder="MM/DD/YYYY"
               (dateInput)="setRegData()"
               formControlName="birthday"
               disabled
               [style.borderColor]="!form.controls.birthday.valid && submitClicked ? 'red' : '#00919a'">
        <mat-datepicker-toggle [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #dp startView="multi-year"></mat-datepicker>
      </div>
      <div class="error" *ngIf="!form.controls.birthday.valid && submitClicked">
        Format must be "MM/DD/YYYY"
      </div>

      <mat-form-field class="wrap-inner gender-select">
        <label class="required"  for="gender">Gender</label>
          <mat-select
            class="form-control select"
            id="gender"
            (selectionChange)="setRegData()"
            formControlName="gender"
          >
            <mat-option *ngFor="let gender of user.genders" [value]="gender">
              {{gender}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <div class="wrap-inner">
        <label for="phone">Telephone</label>
        <input
          type="text"
          placeholder=" Enter your number"
          id="phone"
          (blur)="setRegData()"
          formControlName="phoneNumber"
          [style.borderColor]="!form.controls.phoneNumber.valid && submitClicked ? 'red' : '#00919a' ">
      </div>
      <div class="error" *ngIf="!form.controls.phoneNumber.valid && submitClicked">
        Only numbers of 6-20 length.
      </div>
      <div class="wrap-inner">
        <label for="country">Country name</label>

        <input
          id="country"
          class="form-control"
          formControlName="country"
          [style.borderColor]="!form.controls.country.valid && submitClicked ? 'red' : '#00919a'"
          ngx-google-places-autocomplete
          #placesRef="ngx-places"
          (onAddressChange)="handleAddressChange($event)"
        />
      </div>
      <div class="error" *ngIf="!form.controls.country.valid && submitClicked">
        Max country length is 100 symbols.
      </div>
      <div class="wrap-inner">
        <button (click)="goToAvatar(); setRegData()">Next</button>
      </div>
    </div>
  </form>
</div>
