.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: #818078;
}

.container * {
  box-sizing: border-box;
}

.container > form {
  width: 100%;
}

.wrap-outer {
  max-width: 500px;
  margin: 0 auto;
}

.wrap-inner{
  position: relative;
}

.wrap-outer .wrap-inner {
  display: flex;
  flex-direction: column;
}

.wrap-outer > .wrap-inner {
  margin-bottom: 10px;
}

.wrap-outer .wrap-inner label,
.wrap-outer .wrap-inner p {
  max-width: 220px;
  color: #545454 !important;
  padding: 2px;
}

.wrap-inner input {
  padding: 15px;
  padding-left: 5px;
  height: 30px;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.wrap-inner .mat-datepicker-toggle {
  position: absolute;
  bottom: -7px;
  right: 0;
}

.wrap-inner .select {
  height: 32px;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: white;
  font-size: 11px !important;
  color: gray !important;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-container {
  display: flex;
}

.wrap-inner button {
  padding: 8px 16px;
  background: #00919a;
  color: #f2f2f2;
  border: 1px solid #00919a;
  border-radius: 5px;
  max-width: 318px;
  font-size: 16px;
  cursor: pointer;
  margin:  20px 0;
}

.required::after {
  content: '*';
  color: #00919a;
  /* right: -10px; */
  position: absolute;

}

.error {
  max-width: 300px;
  font-size: 0.7rem;
  margin: 1rem 0;
}

.mat-datepicker-toggle-active {
  color: #00919a;
}
