.content {
  width: calc(100% - 32px);
  border: 1px solid #3664d0;
  border-radius: 8px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.text {
  font-size: 16px;
  color: #3664d0;
  width: calc(100% - 43px);
}

.img-calendar {
  width: 38px;
}


@media only screen and (max-width: 379px) {

  .google-calendar-btn {
    margin: 15px 2.5% 5px 2.5%;
    max-width: calc(95% - 2px);
  }
}

@media only screen and (min-width: 380px) {

  .google-calendar-btn {
    max-width: 220px;
  }
}
