<div class="section">
  <div class="section__back-image"></div>

  <div class="content">
    <div class="content__text">
      <p>With a *disclaimer still in development, booking and <br> other features might not be functional, please <br> communicate with
        <a href="mailto:support@gmooh.app">support@gmooh.app</a> with all <br> issues, recommendations and comments..  </p>
    </div>
  </div>
</div>
