<section class="profile-info-section">
  <span class="section-title">Personal data</span>
  <form [formGroup]="personalData">

    <label class="label"> <span class="label-text">Name</span>
      <div class="wrap-inner"><input type="text" class="formcontrol" formControlName="firstName"
        [style.borderColor]="!personalData.controls.firstName.valid ? 'red' : 'gray' "></div>

    </label>
    <div class="error" *ngIf="!personalData.controls.firstName.valid">
      First {{nameErrorText}}
    </div>

    <label class="label"><span class="label-text">Surname</span>
      <div class="wrap-inner"><input type="text" class="formcontrol" formControlName="lastName"
        [style.borderColor]="!personalData.controls.lastName.valid ? 'red' : 'gray' "></div>
      
    </label>
    <div class="error" *ngIf="!personalData.controls.lastName.valid">
      Last {{nameErrorText}}
    </div>

    <label class="label">
      <span class="label-text">Date of Birth</span>
      <div class="wrap-inner" (click)="dp.open()">
        <input
          class="formcontrol formcontrol--birthday"
          [matDatepicker]="dp"
          placeholder="MM/DD/YYYY"
          formControlName="dateOfBirth"
          disabled
          [style.borderColor]="!personalData.controls.dateOfBirth.valid ? 'red' : 'gray'"
        >
        <mat-datepicker disabled="false" #dp startView="multi-year"></mat-datepicker>
      </div>
    </label>
    <div class="error" *ngIf="!personalData.controls.dateOfBirth.valid">
      Format must be "MM/DD/YYYY"
    </div>

    <label class="label">
      <span class="label-text">Gender</span>

      <mat-form-field class="wrap-inner gender-select">
        <mat-select
          class="form-control select"
          id="gender"
          formControlName="gender"
        >
          <mat-option *ngFor="let gender of user.genders" [value]="gender">
            {{gender}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </label>

    <label class="label"> <span class="label-text">Personal number </span>
      <div class="wrap-inner"><input
        type="text"
        class="formcontrol"
        formControlName="phoneNumber"
        [style.borderColor]="!personalData.controls.phoneNumber.valid ? 'red' : 'gray'"
      ></div>
    </label>
    <div class="error" *ngIf="!personalData.controls.phoneNumber.valid">
      Only numbers of 6-20 length.
    </div>

    <label class="label"> <span class="label-text">Country name</span>

      <div class="wrap-inner"><input
        class="formcontrol"
        formControlName="country"
        ngx-google-places-autocomplete
        (onAddressChange)="handleAddressChange($event)"
        [style.borderColor]="!personalData.controls.country.valid ? 'red' : 'gray' "
      /></div>
    </label>

    <div class="wrap-btn t--right">
      <button
        [disabled]="personalData.invalid"
        class="btn-element btn-element--submit"
        (click)="prepareDataForUpdate(); user.updateUserProfile(formattedData)"
      >Save changes</button>
    </div>
  </form>
</section>
