@font-face {
  font-family: 'SourceSansPro';
  src: local('SourceSansPro-Bold'),
      url('/assets/fonts/SourceSansPro-Bold-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: local('SourceSansPro-Light'),
      url('/assets/fonts/SourceSansPro-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: local('SourceSansPro-Regular'),
      url('/assets/fonts/SourceSansPro-Regular.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: local('SourceSansPro-Semibold'),
      url('/assets/fonts/SourceSansPro-Semibold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
