.logo p {
  color: #4a4a4a;
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.status {
  color: #D75A4A !important;
  font-weight: 600;
  margin-top: 15px;
  font-size: 16px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: #818078;
}

.container * {
  box-sizing: border-box;
}


.btn--ok {
  padding: 8px 16px;
  background: #D75A4A;
  color: #f2f2f2;
  border: 1px solid #D75A4A;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.container .close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5%;
  right: -5%;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.close-btn:focus {
  border: none;
  outline: none;
}

.close-btn:before,
.close-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  height: 1px;
  width: 23px;
  background-color: #00919a;
}

.close-btn:before {
  transform: rotate(-45deg);
}

.close-btn:after {
  transform: rotate(45deg);
}
