<div class="container">
  <div class="logo">
    <img class= "logo__img" [width]="124"  src="../../../../../assets/images/error.svg" >
    <p class="status" *ngIf="!data?.status">Error</p>
    <p class="status" *ngIf="data?.status ">{{data?.status}}</p>
    <p class="text" *ngIf="data?.text ">{{data?.text}}</p>
    <button class="btn--ok " (click)="closeModal()"> Ok </button>
  </div>
  <button class="close-btn" (click)="closeModal()"></button>
</div>
