.home-wrapper {
    height: 100vh;
    min-height: 500px;
    padding: 0 10vw;
    background: transparent center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-image: url('../../../../assets/images/layout.jpg');
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.banner-wrapper {
    display: flex;
    flex-direction: column;
    background: transparent;
    position: absolute;
    top: 35vh;
    width: calc(100% - 20vw);
    color: #ffffff;
}

.small-logo-wrapper {
    width: 260px;
    height: 44px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.hidden-logo {
    width: 100%;
    cursor: pointer;
}


.banner {
    width: 50%;
    border-radius: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 4.2rem;
    margin-bottom: 40px;
    font-weight: 700;
}

.buttons-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    font-weight: 500;
}

.text-wrapper {
    font-size: 20px;
    line-height: 1.2;
}

.buttons-wrapper {
    position: absolute;
    top: 80vh;
    height: 60px;
    display: flex;
    width: calc(100% - 20vw);
}


.home-btn {
    border-radius: 5px;
    outline: none;
    border: 1px solid #00919a;
    transition: 0.5s;
    color: #FFB300;
    width: 250px;
    font-size: 1.5rem;
}

.btn--green {
    background: #00919a;
    color: #ffffff;
}

.btn--green:hover {
    background: #ffffffb5;
    color: #00919a;
}

.btn--white {
    margin: 0 50px;
    background: #ffffffb5;
    color: #00919a;
}

.btn--white:hover {
    background: #00919a;
    color: #ffffff;
}

.demo-wrapper {
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.42, 0.29, 0.44, 0.76);
    z-index: 1;
}

.next-page-btn {
    outline: none;
    border: none;
    position: fixed;
    z-index: 2;
    right: 10px;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -15px 6px 19px -8px rgba(56, 52, 56, 1);
    -moz-box-shadow: -15px 6px 19px -8px rgba(56, 52, 56, 1);
    box-shadow: -15px 6px 19px -8px rgba(56, 52, 56, 1);
    transform: translateX(200px);
    transition: transform 0.2s;
}

.next-page-btn:active {
    transform: scale(0.9);
}

.next-page-btn-down {
    bottom: 100px;
}

.next-page-btn-up {
    bottom: 180px;
}

.next-page-btn .btn-arrow {
    width: 15px;
    height: 15px;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transform: rotate(45deg);
}

.next-page-btn .btn-arrow-up {
    transform: rotate(-135deg) translate(-3px, -2px);
}

.show-next-btn {
    transform: translateX(0);
}

.next-page-btn .btn-arrow-down {
    transform: rotate(45deg);
}

.next-page-btn-cancel {
    bottom: 100px;
}

.next-page-btn .btn-cancel {
    height: 30px;
    width: 2px;
    position: absolute;
    bottom: 14px;
    left: 30px;
    transform: rotate(45deg);
    background: var(--primary-color);
}

.next-page-btn .btn-cancel:after {
    content: "";
    height: 2px;
    width: 30px;
    background: var(--primary-color);
    position: absolute;
    top: 14px;
    left: -15px;
}


@media only screen and (max-width: 1550px) {
    .banner {
        font-size: 3.8rem;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1400px) and (min-height: 800px) {
    .banner {
        height: auto;
    }

    .banner, .buttons-container {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    .home-wrapper {
        background-image: url('../../../../assets/images/layout.jpg');
    }

    .banner {
        font-size: 3.3rem;
    }

    .banner, .buttons-container {
        width: 100%;
    }

    .video-intro {
        display: none;
    }
}


@media only screen and (max-width: 768px) {

    .home-wrapper {
        height: 100vh;
    }

    .home-header {
        justify-content: flex-end;
        padding-top: 25px;
    }

    .small-logo-wrapper {
        position: absolute;
        top: 100px;
        left: 30%;
        width: 40%;
    }

    .banner {
        width: 90%;
        height: 80px;
        left: 10%;
        top: 180px;
        font-size: 28px;
        margin-right: 0;
        text-align: center;
    }

    .text-wrapper {
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
    }

    .buttons-container {
        width: 80%;
        flex-direction: column;
        top: 280px;
        left: 10%;
        margin-left: 0;
    }

    .home-btn {
        width: 60%;
        height: 40px;
        margin: 5px 0;
        font-size: 1rem;
    }

    .banner-wrapper {
        flex-direction: column;
        top: 170px;
        height: 45vh;
        align-items: center;
    }

    .buttons-wrapper {
        top: calc(45vh + 200px);
        flex-direction: column;
        height: 30vh;
        align-items: center;
        justify-content: flex-start;
    }

}
