<div class="home-wrapper">

<!--  <app-video *ngIf="!isMobile"></app-video>-->

  <header class="home-header">
    <div class="small-logo-wrapper">
        <img class="hidden-logo" src="../../../../assets/images/logo.png">
    </div>
    <app-login-button [isMobile]="isMobile"></app-login-button>
  </header>

  <div class="banner-wrapper">
    <div class="banner">
      <span>The easiest and funnest way to plan a trip!</span>
    </div>
    <div class="buttons-container">
      <div class="text-wrapper">
        <span>
          Whether you know where you would like to go or want to benefit  from our curated recommendations ,
          Gmooh helps you find and add any activity,attraction or accommodation as easily as adding them to your shopping cart.
        </span>
      </div>
    </div>
  </div>

  <div class="buttons-wrapper">
    <button [routerLink]="['/main']" class="home-btn btn--green">Explore the product</button>
    <button (click)="openDemo()" class="home-btn btn--white">Watch the demo</button>
  </div>

</div>

<div class="demo-wrapper" [style.transform]="'translateY(' + scrollConfig.translate[0] + 'vh)'">
  <app-demo-page1></app-demo-page1>
</div>

<div class="demo-wrapper" [style.transform]="'translateY(' + scrollConfig.translate[1] + 'vh)'">
  <app-demo-page2></app-demo-page2>
</div>

<div class="demo-wrapper" [style.transform]="'translateY(' + scrollConfig.translate[2] + 'vh)'">
  <app-demo-page3></app-demo-page3>
</div>

<div class="demo-wrapper" [style.transform]="'translateY(' + scrollConfig.translate[3] + 'vh)'">
  <app-demo-page4></app-demo-page4>
</div>


<button
  class=" next-page-btn next-page-btn-up"
  [ngClass]="{ 'show-next-btn': showDemo && scrollConfig.translate[0] !== 100 }"
  (click)="onNextPageClick(-1)"
>
  <span class="btn-arrow btn-arrow-up"></span>
</button>

<button
  class="next-page-btn next-page-btn-down"
  [ngClass]="{ 'show-next-btn': showDemo && scrollConfig.translate[3] !== 0 }"
  (click)="onNextPageClick(1)"
>
  <span class="btn-arrow btn-arrow-down"></span>
</button>

<button
        class="next-page-btn next-page-btn-cancel"
        [ngClass]="{ 'show-next-btn': showDemo && scrollConfig.translate[3] === 0 }"
        (click)="onCancelDemo()"
>
  <span class="btn-cancel"></span>
</button>





