.card-column {
  margin-top: 20px;
}

.sw-box {
  margin: 0 var(--horizontal-padding);
  height: 100% !important;
}

.recommend-row {
  position: relative;

}

.swiper-wrapper {
  height: 250px;
  display: flex;
  align-items: center;
}

.name-card .card-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size:18px;
  color: #00919a;
  font-weight: bold;
  margin: 0 var(--horizontal-padding);
  letter-spacing: 0.5px;
  display: block;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  height: 70%;
  transition: 0.3s;
}

app-recommendation-card {
  width: calc(100% - 20px);
}

.active {
  height: 95%;
}


@media only screen and (min-width: 1024px) {

  .swiper-slide {
    width: calc(100% / 4) !important;
  }

  .active {
    width: calc(100% / 4 + 60px) !important;
  }

  .not-active {
    width: calc(100% / 4 - 20px) !important;
  }

}

@media only screen and (min-width: 1500px) {

  .swiper-slide {
    width: calc(100% / 5) !important;
  }

  .active {
    width: calc(100% / 5 + 80px) !important;
  }

  .not-active {
    width: calc(100% / 5 - 20px) !important;
  }

}
