
<div *ngIf="recommendation?.data.length > 0">
  <div class="card-column">
    <div *ngIf="recommendation?.data.length > 0" class="name-card">
      <span class="card-title">{{recommendation.title}}</span>
    </div>

    <div class="recommend-row">
      <div fxLayout="column" fxLayoutAlign="center" fxFlex="auto" class="sw-box">

        <div class="swiper-container"
             [swiper]="swiperService?.config"
             (indexChange)="onIndexChange($event)"
        >
          <div class="swiper-wrapper">
            <div
              *ngFor="let city of recommendation?.data; index as i"
              class="swiper-slide swiper"
              (click)="onCityClick(city.placeId, city.cityName, recommendation.title)"
              [ngClass]="{
              'active' : activeIndex === i,
              'not-active' :
              activeIndex !== i &&
              activeIndex !== undefined &&
              i <= visibleIndexes[swiperService.slidesPerView - 1] &&
              i >= visibleIndexes[0]
          }"
            >
              <app-recommendation-card
                [city]="city"
                [index]="i"
                (onCardActive)="onMakeCardActive($event)"
              ></app-recommendation-card>
            </div>
          </div>
        </div>

        <div
          class="sw-button-prev swipe-btn"
          [ngClass]="{ 'sw-hidden-arrow' : visibleIndexes[0] === 0 }"
          (click)="directiveRef.prevSlide()"
        ></div>
        <div
          class="sw-button-next swipe-btn"
          [ngClass]="{ 'sw-hidden-arrow' : visibleIndexes[swiperService?.config.slidesPerView - 1] === recommendation?.data.length - 1 }"
          (click)="directiveRef.nextSlide()"
        ></div>
      </div>
    </div>

  </div>
</div>
