@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~saturn-datepicker/bundle.css';


body{
  font-family: 'HelveticaNeue', sans-serif !important;
  margin: 0;
  --horizontal-padding: 10vw;
  --primary-color: #00919a;
  --spinner-height: calc(100vh - 350px);
}

app-home {
  position: relative;
  overflow: hidden;
}

.router {
  display: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}
button:focus {
  outline: none;
  border: none;
}


.spinner-container {
  height: var(--spinner-height);
  align-items: center;
  justify-content: center;
  display: flex;
}

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 5px !important;
  max-height: 99vh !important;
}
.mat-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
  max-height: 99vh !important;
}

.mat-calendar-body-selected, .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--primary-color);
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--primary-color);
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: var(--primary-color);
  opacity: 0.7;
  color: white;
}

.gender-select .mat-form-field-infix {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.gender-select .mat-form-field-wrapper {
  padding: 0 !important;
}

.gender-select .mat-select-arrow {
  border: none !important;
}

.gender-select.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent !important;
}

.gender-select.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
}

.profile-info-section .mat-select-value {
  color: var(--primary-color) !important;
}

.pac-logo {
  z-index: 999999;
}

.mat-icon-button {
  top: -3px;
}

.mat-paginator-navigation-next.mat-icon-button,
.mat-paginator-navigation-previous.mat-icon-button{
  color: var(--primary-color);
}

.mat-paginator-navigation-previous.mat-icon-button[disabled],
.mat-paginator-navigation-next.mat-icon-button[disabled]{
  color: rgba(0,0,0,.26);
}

.mat-paginator-range-actions {
  display: block !important;
  align-items: inherit !important;
}

.mat-paginator-range-label {
  margin: auto !important;
  text-align: center !important;
}

.mat-chip.mat-standard-chip {
  color: var(--primary-color) !important;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: var(--primary-color) !important;
  color: white !important;
}



/*swiper*/
.swipe-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sw-button-next {
  border-right: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  transform: rotate(-45deg);
  right: calc(var(--horizontal-padding) - 20px);
  left: auto;
  top: 45%;
}

.sw-button-prev {
  border-right: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  transform: rotate(135deg);
  left: calc(var(--horizontal-padding) - 20px);
  right: auto;
  top: 45%;
}

.sw-hidden-arrow {
  opacity: 0.2;
}


@media only screen and (max-width: 1366px) {

  .mat-icon-button {
    height: 40px !important;
    line-height: 40px !important;
  }
}

@media only screen and (max-width: 700px) {
  .cdk-overlay-pane {
    max-width: 100vw !important;
    width: 72vw !important;
  }

  .mat-autocomplete-panel {
    max-height: 125px !important;
  }

  .cdk-overlay-connected-position-bounding-box {
    align-items: center;
    justify-content: center;
  }

  .mat-datepicker-popup {
    bottom: auto !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
  }
}

@media only screen and (max-width: 359px) {
  .mat-datepicker-content .mat-calendar {
    width: 245px !important;
  }
}

@media only screen and (max-width: 400px) and (min-width: 360px) {
  .mat-datepicker-content .mat-calendar {
    width: 270px !important;
  }
}
