<div class="section">
  <div class="section__back-image"></div>

  <div class="content">
    <div class="content__text">
      <h3>Or want to benefit of <br> our curated <br> recommendations</h3>
      <p>it allows you to see and add <br> on any activity, attraction or <br> accommodation as easily as <br> adding them to your
        <br> shopping cart and booking it <br> all at once from one place.</p>
    </div>
    <div class="content__image"><img src="../../../../assets/images/pic22.png"></div>
  </div>
</div>
