.section {
    height: 100vh;
    width: 100%;
    background: #fff;
}

.section__back-image {
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 0;
    background-image: url("/../../../assets/images/2pic.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0 10vw;
    margin-top: 20vh;
    color: #fff;
}

.content__text {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content__text h3 {
    font-size: 2rem;
    font-weight: 700;
}

.content__text p {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0;
    width: 28vw;
}

.content__image img {
    margin-top: 30px;
    width: 60vw;
}


@media only screen and (max-width: 768px) {
    .section__back-image {
        height: 85vh;
    }

    .content {
        flex-direction: column;
        margin-top: 10vh;
    }

    .content__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content__text h3 {
        font-size: 1.5rem;
    }

    .content__text p {
        width: 100%;
        margin-bottom: 10%;
        font-size: 1.1rem;
    }

    .content__text h3 br {
        display: none;
    }

    .content__text p br {
        display: none;
    }

    .content__image {
        display: flex;
        justify-content: center;
    }

    .content__image img {
        width: 100%;
        height: 100%;
    }
}
