*, *:before, *::after {
  box-sizing: border-box;
}
.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}


.header-top-bar {
  position: fixed;
  top: 0!important;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  z-index: 4;
  padding: 0 var(--horizontal-padding);
}

.dynamic-search-wrapper {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  left: 0;
  top: 0 !important;
  height: 80px;
  transform: translateY(-100px);
  transition: transform 0.3s;
  display: flex;
  align-items: center;
}

.dynamic-search {
  position: absolute;
  width: 80%;
  left: 10%;
  transform: scale(0.8) translateY(-100px);
  transition: transform 0.3s;
}

.visible-search-wrapper {
  transform: translateY(0);
}

.visible-search {
  transform: scale(0.8) translateY(0);
}

.main {
  background-image: url('../../../../assets/images/layout.jpg');
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  flex-direction: column;
  -webkit-box-shadow: inset 10px 23px 64px -41px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 23px 64px -41px rgba(0,0,0,0.75);
  box-shadow: inset 10px 23px 64px -41px rgba(0,0,0,0.75);
  overflow: hidden;
}


.small-logo-wrapper {
  height: 44px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.small-logo-wrapper .back-arrow {
  width: 20px;
  height: 20px;
  border-left: 2px solid #00919a;
  border-bottom: 2px solid #00919a;
  transform: rotate(45deg);
  cursor: pointer;
}


.form-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2%;
}


.logo {
  width: 100px;
  margin-left: 20px;
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  z-index: 3;
}

.main-container.isMobile {
  margin-top: 10px;
}

.search {
  width: 85%;
  bottom: 120px;
  transition: 0.4s
}


.search-wrapper {
  position: absolute;
  z-index: 99;
  left:0;
  right: 0;
  top: 100px;
  padding: 0 2%;
}



@media only screen and (max-width: 1023px) {

  .header-top-bar {
    position: absolute;
  }

  .search {
    padding: 10px 0;
  }

  .small-logo-wrapper .back-arrow {
    width: 15px;
    height: 15px;
  }

}

@media screen and (max-width: 668px) {

  .btn-wrapper {
    top: 80px;
  }
}


/*  For devices with small height */

.logo--sm {
  width: 90%;
}

.main-container--sm {
  align-items: flex-start;
  justify-content: flex-start;
}

.form-container--sm {
  width: 10%;
  margin: 1rem;
}
