<div class="container" >

  <div class="header-top-bar">
    <div class="small-logo-wrapper">
      <div class="back-arrow" (click)="goBack()"></div>
      <img
        class="logo"
        src="../../../../assets/images/logo.png"
        (click)="goToMainPage()"
      />
    </div>

    <app-login-button
      [isMobile]="isMobile"
      [blackText]="!headerIsVisible"
    ></app-login-button>

    <div
      *ngIf="!isMobile"
      [ngClass]="{ 'visible-search' : !headerIsVisible }"
      class="dynamic-search">
      <app-search-form class="search" [isInteractive]="true" [showChips]="false"></app-search-form>
    </div>

  </div>

  <div
    *ngIf="!isMobile"
    class="dynamic-search-wrapper"
    [ngClass]="{ 'visible-search-wrapper' : !headerIsVisible }"
  ></div>


  <div
    class="main"
    [style.height]="isMobile ? '100vh' : headerHeight + 'px'"
  >

    <div
      class="main-container"
      [ngClass]="{'main-container--sm': isWindHeightSmall, 'isMobile': isMobile}"
    >
      <div
        class="form-container"
        [ngClass]="{'form-container--sm': isWindHeightSmall}"
      >
        <app-search-form class="search" [isInteractive]="true" [showChips]="true"></app-search-form>
      </div>
    </div>
  </div>

</div>

