


.more-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0 60px 0;;
  position: relative;
  background: white;
  overflow: hidden;
}

.profile-link-btn {
  color: white;
  background: #00919a;
  padding: 15px 60px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 30px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.close-btn:focus {
  border: none;
  outline: none;
}

.close-btn:before,
.close-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  height: 1px;
  width: 23px;
  background-color: #00919a;
}

.close-btn:before {
  transform: rotate(-45deg);
}

.close-btn:after {
  transform: rotate(45deg);
}


.photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 40px;
}

.right-flying-plane {
  position: absolute;
  height: 45px;
  transform: rotate(45deg);

}
.right-plane-container {
  position: absolute;
  left: 0;
  top: 42%;
}

.left-plane-container {
  position: absolute;
  left: -50px;
  top: 52%;
}

.left-flying-plane {
  position: absolute;
  height: 45px;
  transform: rotate(-22deg);
  top: 63px;

}

.trace {
  position: absolute;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
  background: #00919a;
}

.more-info-wrapper span {
  text-align: center;
}
