<div class="more-info-wrapper">
  <div class="photo" *ngIf="!avatarSrc" [style.backgroundImage]="'url('+avatarPlaceholder+')'"></div>
  <div class="photo" *ngIf="avatarSrc" [style.backgroundImage]="'url('+ avatarSrc+ ')'"></div>

  <span>Please add more information about yourself</span>
  <button class="profile-link-btn" (click)="goToProfile()">Go to profile page</button>
  <button class="close-btn" (click)="closeModal()"></button>


  <div class="right-plane-container" *ngIf="!data.isMobile">
    <img [src]=plane class="right-flying-plane" [appFlyingPlane]="'right'">
    <span class="trace" *ngFor="let trace of rightTraces; index as i"
      [style.left]="trace.left + 30 + 'px'"
      [style.top]="trace.top + 22 + 'px'"
      [style.display]="i % 3 !== 0 || i === rightTraces.length - 1 ? 'none' : 'inline-block'">
    </span>
  </div>
  <div class="left-plane-container" *ngIf="!data.isMobile">
    <img [src]=leftPlane class="left-flying-plane" [appFlyingPlane]="'left'">
    <span class="trace" *ngFor="let trace of leftTraces; index as i"
      [style.left]="trace.left + 25 + 'px'"
      [style.top]="trace.top + 22 + 'px'"
      [style.display]="i % 3 !== 0 || i === rightTraces.length - 1 ? 'none' : 'inline-block'">
    </span>
  </div>

  <div class="right-plane-container" [style.position]="'static'" *ngIf="data.isMobile">
    <img [src]=plane class="right-flying-plane"
      [style.transform]="'rotate(' + '-7' + 'deg)'"
      [style.top]="17 + '%'"
      [style.left]="8 + '%'">

    <span class="trace" *ngFor="let trace of mobileTraces; index as i"
      [style.left]="trace.left + '%'"
      [style.top]="trace.top + '%'">
    </span>
  </div>
</div>
