<div *ngIf="data && data.length > 0" class="box-container" fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="center" fxFlex="auto" class="sw-box">
    <div class="swiper-container" [swiper]="swiperService?.config" (indexChange)="setActiveIndex($event)"
      (click)="onChange()">
      <div class="swiper-wrapper">

        <div *ngFor="let city of data; trackBy: trackEventId; index as i" class="swiper-slide swiper flip-card"
          (mouseover)="onMouseOver(city.latitude, city.longitude)" (mouseleave)="onMouseleave()"
          (click)="onEventClick(city.placeId, data)">
          <div class="flip-card-inner">
            <div class="flip-card-front" [style.backgroundImage]="'url('+getImage(city, 0)+')'">
              <p class="card-text">{{city.name}}</p>
            </div>
            <div class="flip-card-back" [style.backgroundColor]="city.images?.length == 2 ? '' : '#00909b'">

              <div class="flip-back-bg" [style.backgroundImage]="'url('+getImage(city, 1)+')'"></div>

              <div class="back-item-wrapper" *ngIf="city.type === 5" [style.textShadow]="city.images?.length == 2 ? '1px 1px 2px #000000' : ''">
                <span class="g-title">Genre: </span>
                <span class="g-text">{{city.genreName}}</span>
              </div>

              <div class="back-item-wrapper" *ngIf="city.type === 5 && city.date" [style.textShadow]="city.images?.length == 2 ? '1px 1px 2px #000000' : ''">
                <span class="g-title">Date: </span>
                <span class="g-text">{{city.date | date}}</span>
              </div>

              <div class="back-item-wrapper" *ngIf="city.name && !city.openingHours" [style.textShadow]="city.images?.length == 2 ? '1px 1px 2px #000000' : ''">
                <span class="g-title">Name: </span>
                <span class="g-text">{{city.name}}</span>
              </div>

              <div class="back-item-wrapper" *ngIf="city.address" [style.textShadow]="city.images?.length == 2 ? '1px 1px 2px #000000' : ''">
                <span class="g-title">Address: </span>
                <span class="g-text">{{city.address}}</span>
              </div>

              <div *ngIf="city.rating !== undefined" class="rating-wrapper">
                <span [style.color]="'#eeaa00'" [style.textShadow]="city.images?.length == 2 ? '1px 1px 2px #000000' : ''">{{city.rating}}</span>
                <app-immutable-rating class="star" [rating]="city.rating" [isAddTextShadow]="city.images?.length == 2"></app-immutable-rating>
              </div>

              <button class="btn-reservation" (click)="$event.stopPropagation(); bookReservation(i)">Add to plans</button>

              <div class="icon-wrapper">
                <img [src]="getIconByTypePlace(city.type)" alt="">
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>
    <div class="sw-button-prev swipe-btn" [ngClass]="{ 'sw-hidden-arrow' : activeIndex === 0 }"
      (click)="directiveRef.prevSlide()"></div>
    <div class="sw-button-next swipe-btn"
      [ngClass]="{ 'sw-hidden-arrow' : activeIndex === data.length - swiperService?.config.slidesPerView }"
      (click)="directiveRef.nextSlide()"></div>
  </div>

  <div class="block-preloader" *ngIf="loading">
    <app-preloader></app-preloader>
  </div>
</div>