<div #profile></div>
<div *ngIf="!isLoading" class="profile-page-container">

  <app-profile-avatar
    [userProfile]="userProfile"
    [user]="user"
  ></app-profile-avatar>

  <div class="profile-info-wrapper">

    <app-profile-socials
      [socialNetworkName]="socialNetworkName"
    ></app-profile-socials>

    <section class="profile-info-section">
      <span class="section-title">Account data</span>
      <form [formGroup]="accountData">
        <label class="label"> <span class="label-text">Email</span>
          <div class="wrap-inner"><input type="text" class="formcontrol" formControlName="email" ></div>
        </label>
        <label class="label"> <span class="label-text">Password</span>
        <div class="wrap-inner"><input type="text" class="formcontrol" value="*********" disabled></div>
        </label>
        <div class="wrap-btn t--right">
          <button class="btn-element btn-element--password" (click)="forgotPassword()"> Forgot password? </button>
        </div>
      </form>
    </section>

    <app-profile-form
      [userProfile]="userProfile"
    ></app-profile-form>

  </div>
</div>

<div class="spinner-container" *ngIf="isLoading">
  <app-preloader></app-preloader>
</div>
