
.profile-page-container {
  display: flex;
  padding: 30px 10vw;
}

.profile-page-container .firmcontrol {
  outline: none;

}

.profile-page-container .formcontrol:focus,
.profile-page-container btn:focus,
.profile-page-container .select:focus {
  outline: none;
}

.avatar-wrapper {
  width: calc(30vw - 10vw);
  background: white;
  position: relative;
}

.profile-info-wrapper {
  width: 40vw;
}

.profile-info-section {
  display: flex;
  flex-direction: column;
}

.section-title {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.social-btns-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.instagram-btn {
  background: rgba(240,104,83,1);
  background: -moz-linear-gradient(45deg, rgba(240,104,83,1) 0%, rgba(240,104,83,1) 23%, rgba(216,52,131,1) 50%, rgba(174,53,158,1) 62%, rgba(85,91,207,1) 100%);
  background: -webkit-gradient( color-stop(0%, rgba(240,104,83,1)), color-stop(23%, rgba(240,104,83,1)), color-stop(50%, rgba(216,52,131,1)), color-stop(62%, rgba(174,53,158,1)), color-stop(100%, rgba(85,91,207,1)));
  background: -webkit-linear-gradient(45deg, rgba(240,104,83,1) 0%, rgba(240,104,83,1) 23%, rgba(216,52,131,1) 50%, rgba(174,53,158,1) 62%, rgba(85,91,207,1) 100%);
  background: -o-linear-gradient(45deg, rgba(240,104,83,1) 0%, rgba(240,104,83,1) 23%, rgba(216,52,131,1) 50%, rgba(174,53,158,1) 62%, rgba(85,91,207,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(240,104,83,1) 0%, rgba(240,104,83,1) 23%, rgba(216,52,131,1) 50%, rgba(174,53,158,1) 62%, rgba(85,91,207,1) 100%);
  background: linear-gradient(to bottom left, rgba(85,91,207,1) ,rgba(174,53,158,1), rgba(216,52,131,1), rgba(240,104,83,1) , rgba(240,104,83,1)   100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f06853', endColorstr='#555bcf', GradientType=1 );
}

.social-btns-wrapper button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0px 20px 0 0;
  width: 48%;
}

.social-btns-wrapper img {
  height: 32px;
  margin: 2px;
}

.facebook-btn {
  background: #475993;
  color: white;
}

.google-btn {
  background: #fff;
  border: 2px solid #d3d3d3;
  color: #808080;
}

.google-btn__img {
  background: #fff;
  border-radius: 10%;
  padding: 2px;
}

input:disabled {
  color: #00919a;
  -webkit-text-fill-color: #00919a;
  opacity: 1;
  -webkit-appearance: none;
}

.mat-form-field-wrapper {
  width: 100%;
}

.mat-form-field-infix {
  width: 100%;
}

.profile-info-section .label {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  color: gray;
}

.profile-info-section .formcontrol {
  -webkit-appearance: none;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
  background: white;
  color: #00919a;
  padding-left: 3%;
  outline: none;
  box-sizing: border-box;

}

.profile-info-section .select {
  width: 100%;
  height: 34px;
  box-sizing: border-box;
  padding-left: 5%;
  border-radius: 5px;
  border: 1px solid gray;
  background: white;
  color: #00919a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11px !important;
}

.avatar {
  width: 80%;
  height: 300px;
  border: 1px solid gray;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.avatar-controls, .bg-avatar-controls {
  position: absolute;
  top: 302px;
  height: 300px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.avatar-controls img {
  width: 60px;
  position: absolute;
  top: 70%;
  left: calc((100% - 40px) / 2);
  cursor: pointer;
  color: white;
}


.avatar-controls input {
  position: absolute;
  top: 70%;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 50px;
  width: 100%;
}

.bg-avatar-controls {
  background: white;
  height: 310px;
}

.btn-element {
  background: #00919a;
  opacity: 0.961;
  border-radius: 8px;
  font-family: 'HelveticaNeue', sans-serif;
  font-size:16px;
  color: #ffffff;
  border: 0;
  outline: none;
  height: 35px;
  cursor: pointer;
  margin-left: 10px;
  padding: 0 30px;

}
.btn-element--submit,
.btn-element--password {
  width: 70%;
  border: 2px solid #00919a;
}

.btn-element--submit:hover,
.btn-element--password:hover {
  color: #00919a;
  background: #ffffff;
}

.btn-element--submit:disabled {
  opacity: 0.5;
  cursor: initial;
}

.wrap-inner {
  position: relative;
  width: 70%;
}

.wrap-inner .formcontrol--birthday {
  padding-left: 5%;}

.wrap-inner .formcontrol--birthday::placeholder {
  color: #00919a;
}
.label-text {
    width: 30%;
  }
.label-text {
  width: 30%;
}

.icon--checked {
  margin-left: 20px;
  height: 22px !important;
}

.error {
  max-width: 300px;
  font-size: 0.8rem;
  margin: 1rem 0;
}

.mat-datepicker-toggle {
  color: #00919a;
  position: absolute;
  top: -8%;
  right: 0;
}

.mat-datepicker-toggle-active {
  color: #00919a;
}

/* ---------- Common ------------- */
/*  ------------------------------ */

.t--right {
  text-align: right;
}

/* ---------- Media ------------- */
/*  ------------------------------ */


@media only screen and (max-width: 700px) {
  .profile-page-container {
    flex-direction: column;
  }

  .profile-info-wrapper {
    width: 100%;
    z-index: 2;
    margin-top: 30px;
  }
/* 
  .profile-info-section .formcontrol {
    width: 60%;
  } */

  .avatar-wrapper {
    width: 60vw;
  }

  .social-btns-wrapper button {
    width: 49%;
    padding: 5px;
  }

  .wrap-inner {
    position: relative;
    width: 64%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

  .wrap-inner .formcontrol--birthday {
    width: 100%;
    box-sizing: border-box;
    height: 34px;
  }

  .label-text {
    width: 30%;
  }

  .btn-element--submit,
  .btn-element--password {
    width: 64%;
    padding: 5px;
    margin-bottom: 25px;
  }

  .profile-info-section .select {
    padding-left: 10px;
  }

}
